.icon-chevrondown,.icon-chevronright{background-image:url("./images/slds-sprite.png");width:16px;height:16px}.icon-chevrondown{background-position:0 0}.icon-chevronright{background-position:-16px 0}
.icon-small{height: 12px; width: 12px;}
.slds-tree-container > .slds-tree > ul ul{margin-left: 42px;}
.slds-tree{display: flex;}
.slds .slds-table:not(.slds-no-row-hover) tbody tr.draft > td, .slds .slds-table:not(.slds-no-row-hover) tbody tr.draft:hover > td {background: #faffbd; text-shadow: none;}
.slds-tree__branch.slds-is-open{display: initial;}
.slds-tree__branch:not(.slds-is-open){display: none;}
li.slds-tree__branch > div.slds-tree__item > button, li.slds-tree__branch > div.slds-tree__item > button > i {width: 16px; height: 16px; display: inline-block;}
#selectAccountFilter{padding-top: 6px;}
ul.hierarchy{width: 100%;}
div#accountFilterView{max-width: none;}
