@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
* {
    // remove highlight on android devices
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html { -webkit-font-smoothing: antialiased;	height: 100%; }

input {
    -webkit-appearance: none;
    border-radius: 0;
}

@media screen and (max-width: $break-tabletSmall) {
    ul li {
        -webkit-text-size-adjust: 100%;
    }
}
    
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::selection {
    background: #ffd6e0;
}
::-moz-selection {
    background: #ffd6e0;
}

::-webkit-input-placeholder {
    color: $color-gray;
    font-size: 17px;
}
:-moz-placeholder { /* Firefox 18- */
    color: $color-gray;
    font-size: 17px;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: $color-gray;
    font-size: 17px;
}
:-ms-input-placeholder {
    color: $color-gray;
    font-size: 17px;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*---- Editor Styles ----*/
img { max-width: 100% }
body {
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
    background: #fff;
    color: #3f3f3f;
    font-size: 14px;
    text-align: left;
    padding: 15px;
}
.altBg {
    background-color: #50d2c2;
    height: 100%;
}
h1 {
    font-family: 'Roboto Slab', arial, sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 1.3;
    margin-bottom: 30px;
}
h1 a.btn {
    line-height: 24px !important;
    margin-left: 10px;
    display: inline-block !important;
}
h2 {
    font-family: 'Roboto Slab', arial, sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 30px;
}
h2 label {
    font-size: 25px;
    line-height: 1.3;
    font-family: 'Roboto Slab', arial, sans-serif;
    font-weight: 300;
}

h3 {
    font-family: 'Roboto Slab', arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 12px;
}
h3.complete {
    position: relative;
    padding-left: 45px;
}
h3.complete:before {
    font-family: 'Lrm';
    nowhitespace: afterproperty;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: block;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    content: "\f008"; 
    display: block; 
    position: absolute; 
    top: -4px; 
    left: 1px; 
    font-size: 34px; 
    color: #50d2c2;
}
h4 {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
}
h5 {
    font-size: 10px;
    line-height: 1.5;
    margin-bottom: 10px;
}
h5.icon {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    padding-left: 25px;
    margin-bottom: 25px;
}
h5.icon span:before {
    font-size: 20px;
    position: absolute;
    top: -3px;
    left: 4px;
}
h6 {
    text-transform: uppercase;
    font-size: 21px;
    margin-top: 55px;
    margin-bottom: 22px;
}
h6 a {
    background: right 2px no-repeat url(images/red-arrow@2x.png);
    background-position: right 6px;
    background-size: 8px auto;
}
p,
label,
table,
table td,
table th {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 20px;
}
p.subText,
label.subText,
table.subText,
table td.subText,
table th.subText {
    font-size: 12px;
    position: relative;
    top: -5px;
}
p,
label,
table,
table td,
table th { font-size: 16px }


