/*-----
	Base Styles
	-----*/
img {
    max-width: 100%;
}
html.fsModalOpen {
    overflow-y: hidden;
    height: 100%;
    min-height: 100%;
    body {
        overflow-y: hidden;
        height: 100%;
        min-height: 100%;
    }
}

body {
    @include font-primary-regular();
    background: $color-pageBg;
    color: $color-black;
    font-size: 14px;
    text-align: center;
}
h1 {
    @include font-roboto-light();
    font-size: 23px;
    line-height: 1.3;
    margin-bottom: 18px;
    @media screen and (min-width: $break-tabletSmall) {
        font-size: 33px;
    }
    a.btn {
        line-height: 24px !important;
        margin-left: 10px;
        display: inline-block !important;
        @include font-primary-regular();
    }

}
h2 {
    @include font-roboto-light();
    font-size: 23px;
    line-height: 1.3;
    margin-bottom: 30px;
    label {
        font-size: 25px;
        line-height: 1.3;
        @include font-roboto-light();
    }
    @media screen and (min-width: $break-tabletSmall) {
        font-size: 28px;
        label {
            font-size: 25px;
        }
    }
    &.inline {
        margin-right: 8px;
    }
}
h3 {
    @include font-roboto-light();
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 12px;
    &.complete {
        position: relative;
        padding-left: 45px;
        &:before {
            @include iconFont();
            content: "\f008";
            display: block;
            position: absolute;
            top: -4px;
            left: 1px;
            font-size: 34px;
            color: $color-green;
        }
    }
    + p.subtitle {
        margin-bottom: 0;
    }
    @media screen and (min-width: $break-tabletSmall) {
        font-size: 22px;
        &.complete {
            padding-left: 30px;
            &:before {
                left: -20px;
            }
        }
    }
}
h4 {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
    @media screen and (min-width: $break-tabletSmall) {
        font-size: 16px;
    }
}
h5 {
    font-size: 10px;
    line-height: 1.5;
    margin-bottom: 10px;
    &.icon {
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        padding-left: 25px;
        margin-bottom: 25px;
        span:before {
            font-size: 20px;
            position: absolute;
            top: -3px;
            left: 4px;
        }
    }
    @media screen and (min-width: $break-tabletSmall) {
        font-size: 12px;
    }
}
h6 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
    a {
        background: right 2px no-repeat url(images/red-arrow@2x.png);
        background-size: 8px auto;
        padding-right: 18px;
    }
    @media screen and (min-width: $break-tabletSmall) {
        font-size: 18px;
        margin-top: 45px;
        a {
            background-position: right 4px;
        }
    }
    @media screen and (min-width: $break-desktopSmall) {
        font-size: 21px;
        margin-top: 55px;
        margin-bottom: 22px;
        a {
            background-position: right 6px;
            background-size: 8px auto;
        }
    }
}
p, label, table, table td, table th, div.p {
    font-size: 14px;
    line-height: 1.75;
    margin-bottom: 20px;
    @include hyphenation();
    &.subText {
        font-size: 12px;
        position: relative;
        top: -5px;
    }
    @media screen and (min-width: $break-tabletSmall) {
        font-size: 16px;
    }
    @media screen and (min-width: $break-desktopSmall) {

    }
}
p.small {
    position: relative;
    font-size: 14px;
}
p.large {
    position: relative;
    font-size: 18px;
}
.inline {
    display: inline-block;
}
.block-element {
    display: block;
}
strong, b {
    @include font-primary-bold();
}
em, i {
    @include font-primary-regular-italic();
}
small {
	font-size: 14px;
}
ul li,
ol li,
dl dt,
dl dd{
    font-size: 14px;
    line-height: 2;
    @media screen and (min-width: $break-tabletSmall) {
        font-size: 16px;
    }
}
dl {
    dt {
        line-height: 1.4;
        float: left;
        clear: left;
        width: 30%;
        min-width: 200px;
        margin-bottom: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    dd {
        line-height: 1.4;
        float: left;
        width: 30%;
        margin-bottom: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
a {
    text-decoration: none;
    transition: color .3s ease-out;
    &.removeBold {
        font-weight: 400;
    }
    &.seeMore {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12px;
    }
}
hr {
    border: none;
    border-bottom: solid 1px #f3f3f4;
    font-size: 1px;
    height: 1;
    margin: 35px 0;
    background: transparent;
}
small {
    font-size: 12px;
    color: $color-gray;
    line-height: 1.2;
    display: inline-block;
    @media screen and (min-width: $break-tabletSmall) {
        padding-top: 10px;
    }
}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="number"] {
    color: $color-black;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    @include font-primary-regular();
    &.whiteBg {
        background: $color-white !important;
    }
    &.inputWhite {
        background: $color-white !important;
        padding: 0 25px !important;
    }
    @media screen and (min-width: $break-tabletSmall) {
        font-size: 18px;
    }
    @media screen and (min-width: $break-desktopSmall) {
        font-size: 21px;
    }
    &.error {
        border-color: $color-error !important;
    }
}
button {
    cursor: pointer;
}
button:focus {
    outline: 0;
}
textarea {
    color: $color-black;
    font-size: 16px;
    line-height: 1.7;
    @include font-primary-regular();
    @media screen and (min-width: $break-tabletSmall) {
        font-size: 18px;
    }
    @media screen and (min-width: $break-desktopSmall) {
        font-size: 21px;
    }
}
label.checkbox {
    padding-left: 35px;
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        border: solid 1px #dadada;
        background: $color-white;
        width: 18px;
        height: 18px;
    }
    input {
        display: none;
    }
    &.checked:after {
        content: "\f00d";
        font-family: 'Lrm';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        display: block;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: block;
        position: absolute;
        top: 5px;
        left: 3px;
        font-size: 10px;
    }
    &.error {
        &:before {
            border-color: $color-error !important;
        }
    }
}
label.radio {
    display: none;
}
.alignCenter {
    text-align: center;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

.alignRight{
    display: block;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0 !important;
}

.add-space {
    margin-bottom: $standard-bottomMargin;
}
.add-half-space {
    margin-bottom: $standard-bottomMargin/2;
}
.normal-weight {
    font-weight: 400;
}

.popOn {
	-webkit-animation-name: animScale;
	animation-name: animScale;
	-webkit-animation-duration: 0.25s;
	animation-duration: 0.25s;
    display: block !important;
}
.popOff {
    opacity: 0;
	-webkit-animation-name: animScaleOff;
	animation-name: animScaleOff;
	-webkit-animation-duration: 0.25s;
	animation-duration: 0.25s;
}
.noBorderTop {
    border-top: none !important;
}
.allCaps {
    text-transform: uppercase !important;
}

.caps-header {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.red {
    color: $color-error;
}
.wrap-text {
    white-space: normal;
}
.extra-small {
    font-size: 11px;
    line-height: 1.2em;
}
div.inner {
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    @include clearfix();
    @media screen and (min-width: $break-tabletSmall) {
        padding: 0 30px;
    }
    @media screen and (min-width: $break-desktopSmall) {
        padding: 0 50px;
    }
    &.maintainTablet {
        min-width: 768px;
    }
    &.full-width {
        max-width: 100%;
    }
}

div#overlay {
    background: rgba(255,255,255,.8);
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: 100;
    display: none;
    @media screen and (min-width: 1150px) {
        top: 75px;
    }
    @media screen and (min-width: $break-desktopSmall) {

    }
}


.datepicker {
	border-radius: $border-radius;
    position: absolute;
    background: $color-white;
    z-index: 1;
	/*&-inline {
		width: 220px;
	}*/
    table td, table th {
        font-size: 14px;
        line-height: 1.1;
    }

	&-inline {
		padding: 4px;
        margin-top: 14px;
		&:before {
			content: '';
			display: inline-block;
			border-left:   7px solid transparent;
			border-right:  7px solid transparent;
			border-bottom: 7px solid #ccc;
			border-top:    0;
			border-bottom-color: rgba(0,0,0,.2);
			position: absolute;
		}
		&:after {
			content: '';
			display: inline-block;
			border-left:   6px solid transparent;
			border-right:  6px solid transparent;
			border-bottom: 6px solid #fff;
			border-top:    0;
			position: absolute;
		}
		&.datepicker-orient-left:before   { left: 6px; }
		&.datepicker-orient-left:after    { left: 7px; }
		&.datepicker-orient-right:before  { right: 6px; }
		&.datepicker-orient-right:after   { right: 7px; }
		&.datepicker-orient-bottom:before    { top: -7px; }
		&.datepicker-orient-bottom:after     { top: -6px; }
		&.datepicker-orient-top:before {
			bottom: -7px;
			border-bottom: 0;
			border-top:    7px solid #999;
		}
		&.datepicker-orient-top:after {
			bottom: -6px;
			border-bottom: 0;
			border-top:    6px solid #fff;
		}
	}

	direction: ltr;
	&-dropdown {
		top: 0;
		left: 0;
		padding: 4px;
		&:before {
			content: '';
			display: inline-block;
			border-left:   7px solid transparent;
			border-right:  7px solid transparent;
			border-bottom: 7px solid #ccc;
			border-top:    0;
			border-bottom-color: rgba(0,0,0,.2);
			position: absolute;
		}
		&:after {
			content: '';
			display: inline-block;
			border-left:   6px solid transparent;
			border-right:  6px solid transparent;
			border-bottom: 6px solid #fff;
			border-top:    0;
			position: absolute;
		}
		&.datepicker-orient-left:before   { left: 6px; }
		&.datepicker-orient-left:after    { left: 7px; }
		&.datepicker-orient-right:before  { right: 6px; }
		&.datepicker-orient-right:after   { right: 7px; }
		&.datepicker-orient-bottom:before    { top: -7px; }
		&.datepicker-orient-bottom:after     { top: -6px; }
		&.datepicker-orient-top:before {
			bottom: -7px;
			border-bottom: 0;
			border-top:    7px solid #999;
		}
		&.datepicker-orient-top:after {
			bottom: -6px;
			border-bottom: 0;
			border-top:    6px solid #fff;
		}
	}
	> div {
		display: none;
	}
	&.days .datepicker-days,
	&.months .datepicker-months,
	&.years .datepicker-years {
		display: block;
	}
	table {
		margin: 0;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		tr {
			td, th {
				text-align: center;
				width: 30px;
				height: 30px;
				border-radius: 4px;
				border: none;
			}
		}
	}
	// Inline display inside a table presents some problems with
	// border and background colors.
	.table-striped & table tr {
		td, th {
			background-color: transparent;
		}
	}
	table tr td {
		&.day:hover,
		&.day.focused {
			background: #eeeeee;
			cursor: pointer;
		}
		&.old,
		&.new {
			color: #999999;
		}
		&.disabled,
		&.disabled:hover {
			background: none;
			color: #999999;
			cursor: default;
		}
		&.highlighted {
			background: #ffdb99;
			border-radius: 0;
		}
		&.today,
		&.today:hover,
		&.today.disabled,
		&.today.disabled:hover {
			color: #000000;
            background-color: #ffcd70;
            border-color: #f59e00;
		}
		&.today:hover:hover { // Thank bootstrap 2.0 for this selector...
			// TODO: Bump min BS to 2.1, use @textColor in buttonBackground above
			color: #000;
		}
		&.today.active:hover {
			color: #fff;
		}
		&.range,
		&.range:hover,
		&.range.disabled,
		&.range.disabled:hover {
            background: #eeeeee;
            border-radius: 0;
		}
		&.range.today,
		&.range.today:hover,
		&.range.today.disabled,
		&.range.today.disabled:hover {
            color: #000000;
            background-color: #f7ca77;
            border-color: #f1a417;
            border-radius: 0;
		}
		&.selected,
		&.selected:hover,
		&.selected.disabled,
		&.selected.disabled:hover {
            color: #ffffff;
            background-color: #999999;
            border-color: #555555;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		}
		&.active,
		&.active:hover,
		&.active.disabled,
		&.active.disabled:hover {
			color: #ffffff;
            background-color: #428bca;
            border-color: #357ebd;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		}
		span {
			display: block;
			width: 23%;
			height: 54px;
			line-height: 54px;
			float: left;
			margin: 1%;
			cursor: pointer;
			border-radius: 4px;
			&:hover {
				background: #999999;
			}
			&.disabled,
			&.disabled:hover {
                background: none;
                color: #999999;
                cursor: default;
			}
			&.active,
			&.active:hover,
			&.active.disabled,
			&.active.disabled:hover {
                color: #ffffff;
                background-color: #3276b1;
                border-color: #285e8e;
			}
			&.old,
			&.new {
				color: #999999;
			}
		}
	}

	.datepicker-switch {
		width: 145px;
	}

	thead tr:first-child th,
	tfoot tr th {
		cursor: pointer;
		&:hover {
			background: #eeeeee;
		}
	}

	// Basic styling for calendar-week cells
	.cw {
		font-size: 10px;
		width: 12px;
		padding: 0 2px 0 5px;
		vertical-align: middle;
	}
	thead tr:first-child .cw {
		cursor: default;
		background-color: transparent;
	}
}
.input-group.date .input-group-addon {
	cursor: pointer;
}
.input-daterange {
	width: 100%;
	input {
		text-align: center;
	}
	input:first-child {
		border-radius: 3px 0 0 3px;
	}
	input:last-child {
		border-radius: 0 3px 3px 0;
	}
	.input-group-addon {
		width: auto;
		min-width: 16px;
		padding: 4px 5px;
		font-weight: normal;
		line-height: 1.7;
		text-align: center;
		text-shadow: 0 1px 0 #fff;
		vertical-align: middle;
		background-color: #eeeeee;
		border: solid #cccccc;
		border-width: 1px 0;
		margin-left: -5px;
		margin-right: -5px;
	}
}

span.icon {
    @include iconFont();
    position: absolute;
    left: 0;
    top: 0;
    &:before {
        position: absolute;
        top: 12px;
        left: 33px;
        content: "\f011";
        font-size: 20px;
    }
    &.generic-file {
        &:before {
            content: "\f01a";
        }
    }
}
.doc span.icon:before {
    content: "\f013";
    font-size: 26px;
}
.ppt span.icon:before,
.pptx span.icon:before {
    content: "\f01f";
    font-size: 26px;
}
.pdf span.icon:before {
    content: "\f00e";
    font-size: 26px;
}
.xls span.icon:before,
.xlsx span.icon:before {
    content: "\f021";
    font-size: 26px;
}
.img span.icon:before {
    content: "\f01b";
    font-size: 26px;
}
.aud span.icon:before {
    content: "\f00c";
    font-size: 26px;
}
.vid span.icon:before {
    content: "\f00f";
    font-size: 26px;
}
.url {
    span.icon:before {
        content: "\f012";
        font-size: 26px;
    }
}
div.lg-item-icon {
    float: right;
    position: relative;
    width: 78px;
    height: 100px;
    span.icon:before {
        font-size: 94px;
        top: 0;
        left: 0;
    }
}
.left{ float: left !important; }
.right{ float: right !important; }



.large-icon {
    font-size: 54px;
    img {
        width: 72px;
        height: 72px;
    }
}
.medium-icon {
    font-size: 28px;
}

img.small-thumbnail {
    max-width: 80px;
    max-height: 80px;
}