/*-----
    Header Styles
    -----*/
///////////////////////////////
//
//Side bar layout
//
///////////////////////////////

section#mainContent, footer#colophon {
    width: 100%;
    padding-left: 242px;
    padding-top: 0;
    transition: padding-left .2s ease;
    margin-bottom: 30px;
    @media (max-width: 1050px){
        padding-left: 60px;
    }
    &.menuClosed {
        padding-left: 60px;
    }
}

nav#sidebar {
    width: 242px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    /* Moved to color.scss
    background-color: $color-custom;
    */
    text-align: left;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    transition: width .2s ease;
    z-index: 4900;
    padding-bottom: 60px;
    hr {
        border-bottom: solid 1px #f3f3f4;
    }
    .hamburger-menu {
        position: absolute;
        right: 0px;
        width: auto;
        font-size: 12px;
        opacity: .7;
        .lrm-expand-right {
            display: none;
        }
    }
    .school-logo {
        height: 110px;
        text-align: center;
        margin: 14px auto;
        padding: 0;
        max-width: 160px;
        transition: all .2s ease;
        position: relative;
        img {
            max-height: 100%;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
        .logo-favicon {
            max-width: 32px;
            display: none;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 16px;
        }
        &:hover {
            background-color: transparent;
        }
    }
    hr {
        width: 90%;
        margin: 0 auto 20px;
        opacity: .5;
        transition: opacity .2s ease;
    }
    li + hr {
        margin: 20px auto 20px;
    }
    a {
        color: $color-white;
        display: block;
        width: 100%;
        padding: 12px 12px;
        line-height: 1em;
        font-size: 14px;
        font-weight: 600;
        &.active {
            /* Moved to color.scss
            background-color: $color-customSecondary;
            */
        }
        &:not(.active):not(.school-logo):not(.hamburger-menu):hover {
            /* Moved to color.scss 
            background-color: darken($color-custom, 5);
            */
        }
        .sidebar-text {
            padding-left: 20px;
            transition: opacity .2s ease;
        }
        .sidebar-icon {
            font-size: 18px;
            width: 18px;
            height: 15px;
            display: inline-block;
            position: relative;
            img {
                border-radius: 1000px;
                position: absolute;
                left: -5px;
                top: -5px;
                max-width: 29px;
            }
            span.notification-count {
                    position: absolute;
                    z-index: 5;
                    top: -20px;
                    left: 8px;
                    /* Moved to color.scss
                    color: $color-custom;
                    */
                    font-size: 10px;
                    font-weight: 800;
                    text-align: center;
                &:before {
                    content: '';
                    z-index: -1;
                    position: relative;
                    display: block;
                    background-color: $color-white;
                    width: 15px;
                    height: 15px;
                    bottom: -15px;
                    left: 0;
                    border-radius: 600px;
                }
            }
        }
    }
    li.hasChildren {
        position: relative;
        ul {
            display: none;
            background-color: $color-white;
            li {
                a {
                    color: $color-link;
                    white-space: normal;
                    font-weight: 400;
                    line-height: 1.2em;
                    border-bottom: solid 1px $color-strokeGray;
                    &.active-link {
                        color: $color-darkGray;
                        font-weight: 600;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    &:hover {
                        text-decoration: underline;
                        background-color: transparent !important;
                    }
                }
            }
        }
        > a:after {
            @include iconFont();
            content: '\f009';
            position: absolute;
            color: $color-white;
            right: 14px;
            top: 19px;
            font-size: 8px;
        }
        &.expanded {
            /* Moved to color.scss
            background-color: darken($color-custom, 3);
            */
            > a:after {
                content: '\f018';
            }
        }
    }
    li.search {
        position: relative;
        label {
            color: $color-white;
            display: block;
            width: 100%;
            padding: 12px 12px;
            line-height: 1em;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            &:hover {
                /* Moved to colors.scss
                background-color: darken($color-custom, 5);
                */
                cursor: pointer;
            }
            .sidebar-icon {
                font-size: 18px;
                width: 18px;
                height: 15px;
                display: inline-block;
                position: relative;
            }
            .sidebar-text {
                padding-left: 20px;
                transition: opacity .2s ease;
            }
        }
        input {
            position: absolute;
            top: 0;
            width: 100%;
            height: 40px;
            padding: 12px 12px;
            padding-left: 50px;
            line-height: 1;
            opacity: 0;
            /* Moved to color.scss
            background-color: $color-customSecondary;
            */
            -webkit-text-fill-color: $color-white;
            color: $color-white;
            font-size: 14px;
            border: none;
            transition: opacity .2s ease;
            @include placeholderStyles(14px);
            @include placeholderColor($color-white);
            &:focus {
                -webkit-opacity: 1;
                opacity: 1;
                ~ label {
                    width: auto;
                    display: inline-block;
                    margin-bottom: 0;
                    &:hover {
                        background-color: transparent;
                        cursor: default;
                    }
                    .sidebar-text {
                        display: none;
                    }
                }
            }
        }
    }
    li.copyright {
        small {
            color: $color-white;
            display: block;
            width: 100%;
            padding: 12px 12px;
            line-height: 1em;
            font-size: 12px;
            position: relative;
            text-align: center;
            line-height: 1.35em;
            a {
                display: inline;
                padding: 0;
                font-size: 12px;
                font-weight: 400;
                &:hover {
                    background-color: transparent !important;
                    text-decoration: underline;

                }
            }
        }
    }
    &:not(.menuOpen) {
        @media (max-width: 1050px) { //should be identical to &.menuClosed
            width: 60px;
            ul {
                li {
                    a, label {
                        text-align: center;
                    }
                }
            }
            .sidebar-text {
                display: none;
                opacity: 0;
            }
            .hamburger-menu {
                position: absolute;
                z-index: 1000;
                .lrm-expand-right {
                    display: block;
                }
                .lrm-slide-left {
                    display: none;
                }
            }
            .school-logo {
                opacity: 0;
                height: 40px;
            }
            hr {
                opacity: 0;
            }
            li + hr {
                opacity: .5;
                &:last-of-type {
                    opacity: 0;
                }
            }
            li.hasChildren {
                a:after {
                    display: none;
                }
            }
            li.copyright {
                display: none;
            }

        }
    }
    &.menuClosed { //should be identical to @media (max-width: 1050px)
        width: 60px;
        ul {
            li {
                a, label {
                    text-align: center;
                }
            }
        }
        .sidebar-text {
            display: none;
            opacity: 0;
        }
        .hamburger-menu {
            position: absolute;
            z-index: 1000;
            .lrm-expand-right {
                display: block;
            }
            .lrm-slide-left {
                display: none;
            }
        }
        .school-logo {
            opacity: 0;
            height: 40px;
        }
        hr {
            opacity: 0;
        }
        li + hr {
            opacity: .5;
            &:last-of-type {
                opacity: 0;
            }
        }
        li.hasChildren {
            a:after {
                display: none;
            }
        }
        li.copyright {
            display: none;
        }
    }
}



div.sidebar-item-tooltip {
    position: fixed;
    left: 70px;
    z-index: 10000;
    top: 0;
    display: block;
    /* Moved to color.scss
    background-color: darken($color-custom, 5);
    */
    padding: 7px;
    color: $color-white;
    border: solid 1px $color-white;
    border-radius: 3px;
    &:before {
        content: '';
        transform: rotate(45deg);
        width: 12px;
        height: 12px;
        display: block;
        /* Moved to color.scss
        background-color: darken($color-custom, 5);
        */
        position: absolute;
        left: -7px;
        top: 8px;
        z-index: -1;
        border-bottom-left-radius: 1px;
        border: solid 1px $color-white;
        border-right: none;
        border-top: none;
    }
    &.active {
        /* Moved to color.scss
        background-color: $color-customSecondary;
        */
        &:before {
            /* moved to color.scss
            background-color: $color-customSecondary;
            */
        }
    }
}

