/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
* {
    // remove highlight on android devices
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html { -webkit-font-smoothing: antialiased;	height: 100%; }

input {
    -webkit-appearance: none;
    border-radius: 0;
}

@media screen and (max-width: $break-tabletSmall) {
    ul li {
        -webkit-text-size-adjust: 100%;
    }
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-input-placeholder {
    color: $color-gray;
    font-size: 17px;
}
:-moz-placeholder { /* Firefox 18- */
    color: $color-gray;
    font-size: 17px;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: $color-gray;
    font-size: 17px;
}
:-ms-input-placeholder {
    color: $color-gray;
    font-size: 17px;
}
h1, h2, h3, h4, h5, h6, p, li {
    word-wrap:break-word;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@-ms-viewport{ width: auto !important; }