@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);

/*-----
	Base Styles
	-----*/
img {
    max-width: 100%;
    &.small-thumbnail {
        max-width: 80px;
        max-height: 80px;
    }
}

body {
    @include font-primary-regular();
    background: $color-pageBg;
    color: $color-black;
    font-size: 14px;
    text-align: center;
}

h1 {
    @include font-roboto-light();
    font-size: 25px;
    line-height: 1.3em;
    margin-bottom: $standard-verticalPadding;
    @media (min-width: $break-mobileMedium) {
	    font-size: 32px;
    }
}
h2 {
    @include font-roboto-light();
    font-size: 20px;
    line-height: 1.3em;
    margin-bottom: $standard-verticalPadding;
    @media (min-width: $break-mobileMedium) {
        font-size: 25px;
    }
}
h3 {
    @include font-primary-regular();
    line-height: 1.3em;
    font-size: 15px;
    @media (min-width: $break-mobileMedium) {
        font-size: 17px;
    }
}
h4 {
    @include font-roboto-light();
    font-size: 19px;
    line-height: 1.4em;
}
h5 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 3px;
}
h6 {
    font-size: 16px;
    text-transform: uppercase;
}
p, label, table, table td, table th, div.p {
    font-size: 14px;
    margin-bottom: $standard-verticalPadding;
    line-height: 1.6em;
}
label {
    margin-bottom: 0;
}
strong, b {
    font-weight: 700;
}
em, i {
    font-style: italic;
}
ul li,
ol li,
dl dt,
dl dd{
    font-size: 14px;
    line-height: 2em;
}
dl {
    dt {
        line-height: 1.4;
        float: left;
        clear: left;
        width: 30%;
        min-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (min-width: $break-mobileSmall) {
	        margin-bottom: 20px;
        }
    }
    dd {
        line-height: 1.4;
        float: left;
        width: 100%;
        margin-bottom: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (min-width: $break-mobileSmall) {
	        width: 50%;
        }
    }
    a:not([role="button"]) {
        font-weight: 400;
    }
}
a {
    font-weight: 600;
    text-decoration: none;
    transition: color .3s ease-out;
}

hr {
    border: none;
    border-bottom: solid 1px $color-strokeGray;
    font-size: 1px;
    height: 1;
    margin: $standard-bottomMargin 0;
    background: transparent;
}
small {
    font-size: 12px;
    color: $color-darkGray;
    line-height: 1.2;
    display: inline-block;
    .lrm {
        font-size: 11px;
    }
}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea,
select {
    color: $color-black;
    font-size: 14px;
    line-height: 35px;
    height: 35px;
    width: 100%;
    border: solid 1px $color-strokeGray;
    border-radius: 4px;
    margin-bottom: 16px;
    box-sizing: border-box;
    padding: 0 14px;
    font-family: 'Open Sans', arial, sans-serif;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        font-size: 14px;
        color: $color-gray;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: 14px;
        color: $color-gray;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-size: 14px;
        color: $color-gray;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 14px;
        color: $color-gray;
    }
    &:focus {
        outline: 0;
        border-color: $color-gray;
        background-color: lighten($color-fadedGray, 2);
    }
}
input[type="radio"]:focus,
input[type="checkbox"]:focus,
input[type="file"]:focus,
label:focus,
button:focus,
a:focus,
[tabindex="0"]:focus {
    outline: dotted 1px $color-gray;
}
input[type="submit"],input[type="button"], a[role=button] {
    @include font-primary-bold();
    cursor: pointer;
}
button {
    @include font-primary-regular();
    cursor: pointer;
}
textarea {
    line-height: 1.7;
    padding: 3px 10px;
    height: auto;
}
pre, code {
    font-family: monospace;
    line-height: 1.6em;
}
wbr:after {
    content: "\00200B";
}
div.inner {
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    @include clearfix();
    @media screen and (min-width: $break-tabletSmall) {
        padding: 0 30px;
    }
    &.maintain-tablet {
        min-width: 768px;
    }
}