//
//	Card layout
//
///////////////////////////

.card {
	background-color: $color-white;
	border: solid 1px $color-strokeGray;
	margin-bottom: $standard-bottomMargin;
	border-radius: 4px;
	position: relative;
	@include clearfix();
	&.muted {
		opacity: .5;
	}
	> div:first-child {
		border-top: none;
	}
	&.divide-content {
		section:not(:last-child) {
			border-bottom: solid 1px $color-strokeGray;
		}
		section + .block-button-wrapper {
			border-top: none;
		}
		h2:first-child:last-child {
			margin-bottom: 0;
		}
		h4 {
			font-size: 18px;
			margin-bottom: 3px;
		}
		.card-attachment {
			border-top: none;
		}
	}
	&:not(.divide-content) > section:not(.card-toggle-content) + section {
		padding-top: 0;
		&.card-attachment {
			padding-top: 20px;
			&.thin {
				padding-top: 12px;
			}
		}
		&.figure-large.thin .upload-box {
		    top: 6px;
		    position: relative;
		    margin-bottom: 4px;
		    padding: 10px 18px;
		}
	}
	&.stack-card {
		margin-bottom: 0;
		border-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		+ .card {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
	&.inline-card {
		height: 75vh;
		overflow-y: scroll;
		overflow-x: hidden;
		&.divide-content {
			section:last-child {
				border-bottom: solid 1px $color-strokeGray;
			}
		}
		&.inline-scroll {
			max-height: 75vh;
			height: auto;
		}
		> .card {
			border-left: none;
			border-right: none;
			border-top: none;
		}
		.card-toggle-content + section {
			.card.divide-content {
				border: none;
			}
		}
	}
	&.alert-card {
		border: solid 1px $color-yellow !important;
		background-color: lighten($color-yellow, 35);
	}
	&.error-card {
		border: solid 1px $color-red !important;
		background-color: lighten($color-red, 35);
	}
	&.success-card {
		border: solid 1px $color-green !important;
		background-color: lighten($color-green, 35);
	}
	.remove {
        position: absolute;
        top: 0px;
	    right: 0;
	    padding: 8px;;
	    font-size: 0;
	    text-indent: -10000px;
	    border: none;
	    background-color: transparent;
        &:before {
        	@include iconFont();
        	content: '\f029';
	        color: $color-gray;
	        font-size: 12px;
	        text-indent: 0;
        }
    }
    .card {
	    .dropmenu {
	    	ul {
	    		top: 0;
	    	}
		    > button {
				padding: 10px;
			}
		}
    }
    hr {
    	margin: 0;
    }
}

p.file-type {
    text-transform: uppercase;
	margin-bottom: 0;
	font-size: 12.5px;
	position: relative;
	padding-left: 20px;
    a {
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        -ms-word-wrap: break-word;
        -ms-word-break: break-all;
        color: $color-black !important;
        &:hover {
            color: $color-black !important;
            @include removeUnderlines();
        }
    }
    .favicon {
        margin-right: 8px;
		position: absolute;
		left: 0;
        img {
            position: relative;
            bottom: -4px;
            max-width: 16px;
            max-height: 16px;
        }
        &:hover {
            @include removeUnderlines();
        }
    }
}

.row + .card {
	margin-top: $standard-bottomMargin;
}

.card-filter {
	@include clearfix();
	input[type="text"], input[type="search"], input[type="url"], .bootstrap-select {
		float: left;
		border-radius: 0;
		&.filter-half {
			border-top: 0;
			border-left: 0;
			width: 50% !important;
		}
		&.filter-full {
			border-top: 0;
			border-left: 0;
			border-right: 0;
		}
	}
	.bootstrap-select > button {
		border-radius: 0;
		float: left;
		border-top: 0;
		border-left: 0;
	}
}

.card-cover-photo {
	width: 100%;
	position: relative;
	text-align: center;
	&:not(.full-width) {
		@include standardPadding();
	}
	img {
		max-width: 100%;
		max-height: 200px;
		margin: 0 auto;
		display: block;
		+ .block-button-wrapper {
			border-top: 0;
		}
	}
	.cover-photo-overlay {
		position: absolute;
		width: 100%;
		text-align: center;
		color: $color-white;
		background-color: rgba($color-black, .8);
		bottom: 0;
		padding: 10px 0;
		h2 {
			margin-bottom: 0;
		}
	}
	i.lrm {
	    display: inline-block;
	    position: relative;
	    margin: 0px auto;
	    font-size: 50px;
	    &:after {
	    	content: '';
		    padding: 36px;
		    border-radius: 600px;
		    border: solid 2px #3f3f3f;
		    display: block;
		    position: absolute;
		    top: -8px;
		    left: -17px;
	    }
	    &.lrm-resources:after {
	    	left: -11px;
	    }
	}
}

.card section {
	@include standardPadding();
	@include clearfix();
	position: relative;
	h2 {
		font-size: 22px;
		margin-bottom: 10px;
	}
	> p:last-of-type, > div.p:last-of-type {
		margin-bottom: 0;
		&.list-header {
			margin-bottom: 8px;
		}
		+ .row {
			margin-top: $standard-bottomMargin;
		}
	}
	> div.row:last-of-type {
		p:last-of-type, div.p:last-of-type {
			margin-bottom: 0;
		}
	}
	+ .card-cover-photo {
		padding-top: 0;
	}
	.block-button-wrapper {
		position: absolute;
		width: auto;
	    left: 0;
	    right: 0;
	    bottom: 0;
	}
	.block-btn-margin {
		margin-bottom: 84px;
	}
	textarea + .block-button-wrapper {
		position: relative;
		top: -3px;
	}
	&.message {
		[class*=avatar] {
			position: absolute;
		}
		.message-content {
			position: relative;
			padding-left: 75px;
			h3 {
				font-size: 16px;
				margin-bottom: 10px;
			}
			p {
				font-size: 16px;
				margin-bottom: 12px;
			}
			time {
				position: absolute;
				right: 0;
				top: 0;
				font-weight: 700;
				font-size: 12px;
				@media (max-width: 1000px) {
					position: static;
					display: block;
					margin-bottom: 10px;
				}
			}
			@media (max-width: 500px) {
				padding-left: 40px;
			}
		}
	}
	.avatar {
		margin-right: 20px;
	}
	p .avatar {
		margin-right: 0;
	}
	&.thin {
		padding: 12px 11.5px;
		@media (min-width: 500px) {
			padding: 12px 23px;
		}
	}
	&.thin-width {
		padding-left: 11.5px;
		padding-right: 11.5px;
	}
	&.show-action {
		padding-right: 180px !important;
		position: relative;
		aside {
			position: absolute;
			right: 0;
			top: 0;
			width: 180px;
			padding: 10px 23px;
			text-align: right;
			[class^="btn-"]:not(.bootstrap-select) {
				min-width: 0;
				&.inline {
					padding: 5px 9px !important;
					+ [class^="btn-"] {
						margin-left: 0;
					}
				}
			}
		}
		&.small-action {
			padding-right: 80px !important;
			aside {
				width: 80px;
				[class^="btn-"]:not(.bootstrap-select) {
				    padding: 4px 6px !important;
				    position: absolute;
				    right: 10px;
				}
			}
		}
		@media (max-width: 500px) {
			padding-right: 11.5px !important;
			aside {
				position: relative;
				width: 100%;
				padding: 0;
				margin-bottom: 18px;
				[class^="btn-"]:not(.bootstrap-select) {
					float: none;
				}
			}
		}
	}
	&[class*='figure-'] {
	    figure {
	    	position: relative;
			text-align: center;
			@media (min-width: 400px) {
		    	position: absolute;
				width: 80px;
				top: 0;
				bottom: 0;
				margin: auto;
				span.counter {
				    right: 36%;
				}
			}
	    	i {
	    		font-size: 40px;
	    		color: $color-darkGray;
	    	}
	    	.avatar {
	    		margin-right: 0;
	    	}
	    	.ct-chart-donut {
    		    width: 56px;
			    height: 56px;
			    margin: auto;
			    top: 0;
			    bottom: 0;
			    position: absolute;
			    left: 5px;
	    		span.heading {
	    			top: 62%;
	    			width: 56px;
	    			font-size: 12px;
				    font-weight: 600;
	    			span {
	    				font-size: 9px;
	    				top: -1px;
	    			}
	    		}
	    		.ct-slice-donut {
	    			stroke-width: 5px !important;
	    		}
	    	}
	    	img, i {
	    		max-width: 48px;
	    		max-height: 48px;
	    		width: 48px;
	    		margin-bottom: 10px;
	    	}
			span.counter {
                position: absolute;
                z-index: 1;
                color: $color-white;
                font-weight: 600;
                text-align: center;
                line-height: 1.7em;
                background-color: $color-error;
                padding: 1px 4px;
                min-width: 23px;
                min-height: 23px;
                top: -4px;
			    right: 36%;
                border-radius: 600px;
                font-size: 10px;
                border: solid 2px $color-white;
                &.completed {
                    background-color: $color-success;
                    &:before {
                    	@include iconFont();
                    	content: '\f00d';
                    	color: $color-white;
                    	font-size: 9px;
					    position: relative;
                	    top: 4px;
                    }
                }
            }
			@media (min-width: 400px) {
		    	position: absolute;
				width: 80px;
				img, i {
					position: absolute;
		    		top: 0;
		    		bottom: 0;
	    		    left: 15px;
		    		margin: auto;
				}
				span.counter {
					right: 8px;
					top: -38px;
					bottom: 0;
					margin: auto;
					height: 23px;
				}
			}
	    }
	    &.card-toggle-content {
		    padding-left: 55px;
	    	figure {
	    		height: 100%;
	    		&.donut-chart-icon {
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					height: 38px;
	    		}
	    		.ct-chart-donut {
	    			margin-left: -1px;
	    			left: 0;
	    			span.heading {
	    				width: 44px;
	    			}
	    		}
	    	}
	    }
	    &.figure-large {
	    	figure {
	    		width: 100%;
	    		position: static;
	    		text-align: center;
			    margin-bottom: 18px;
				img {
		    		max-width: 100%;
		    		max-height: 120px;
		    		width: auto;
					position: static;
					border-radius: 4px;
				}
	    		@media (min-width: 700px) {
		    		position: absolute;
					width: 120px;
		    		max-height: 120px;
				    padding: 11.5px 11.5px 0 11.5px;
				    margin: 0 auto;
			    	img, i {
					    // max-width: 120px;
					    max-width: 100%;
					    max-height: 100%;
			    		// position: absolute;
		    		    left: 0;
					    right: 0;
			    	}
				}
	    	}
    	}
    	&.figure-extra-large {
    		figure {
	    		width: 100%;
	    		position: static;
	    		text-align: center;
				img {
		    		max-width: 100%;
		    		max-height: 85%;
		    		width: auto;
					position: static;
				}
	    		@media (min-width: 700px) {
		    		position: absolute;
					width: 200px;
					margin: 0 24px 0px 0px;
			    	img, i {
			    		max-width: 200px;
			    		position: absolute;
		    		    left: 0;
					    right: 0;
					    top: 9%;
					    bottom: auto;
			    	}
				}
	    	}
    	}
	    &.figure-special {
	    	border-left: none;
			overflow: hidden;
	    	figure {
	    		width: 130px;
		    	min-height: 130px;
	    		top: 0;
	    		bottom: 0;
	    		background-color: $color-skyBlue;
	    		background-size: 100% auto;
	    		img {
	    			width: auto;
	    			height: auto;
	    			max-width: 55px;
	    			max-height: none;
	    			position: absolute;
	    			top: 0;
	    			bottom: 0;
	    			left: 0;
	    			right: 0;
	    			margin: auto;
	    			animation: notificationPopOn .5s ease-out 0s 1 alternate;
	    		}
	    		&.star-background {
	    			background-image: url('images/color-icons/comp-bg-1.png'), url('images/color-icons/comp-bg-2.png');
	    			animation: scrollBackgroundVert 5s ease-out 0s 1 forwards;
	    		}
	    		&.dot-background {
	    			background-image: url('images/color-icons/pi-bg-b.png'), url('images/color-icons/pi-bg-1.png');
	    			animation: scrollBackgroundVert 5s ease-out 0s 1 forwards;
	    		}
	    	}
	    	@media (max-width: 400px) {
	    		padding-left: 11.5px;
	    		figure {
	    			width: 100%;
	    			height: 138px;
	    			position: relative;
	    			margin-bottom: 12.5px;
				    margin-top: 15px;
	    		}
	    	}
	    }
	}
	&.figure-left {
	    @media (min-width: 400px) {
		    padding-left: 80px;
		    &.figure-special {
		    	padding-left: 155px;
		    }
	    }
	    figure {
	    	left: 0;
	    }
	    &.figure-large {
	    	padding-left: 11.5px;
    		@media (min-width: 700px) {
    			padding-left: 128px;
	    	}
	    }
	    &.figure-extra-large {
	    	padding-left: 11.5px;
    		@media (min-width: 700px) {
		    	padding-left: 240px;
	    	}
	    }
	}
	&.figure-right {
	    @media (min-width: 400px) {
		    padding-right: 80px;
		    &.figure-special {
		    	padding-right: 155px;
		    }
	    }
	    figure {
	    	right: 0;
	    	img {
	    		left: 8px;
	    	}
	    }
	    &.figure-large {
	    	padding-right: 11.5px;
    		@media (min-width: 700px) {
		    	padding-right: 150px;
		    	figure {
					margin: 0 24px 0px 0px;
		    	}
	    	}
	    }
	    &.figure-extra-large {
	    	padding-right: 11.5px;
    		@media (min-width: 700px) {
		    	padding-right: 240px;
	    	}
	    }
	}
    &.selectable-content {
    	&:hover, &:focus, &:active {
    		background-color: $color-fadedGray;
    		cursor: pointer;
    	}
    }
    &.dark {
    	background-color: $color-tertiaryBtn;
    	color: $color-white;
    	&.selectable-content {
	    	&:hover, &:focus, &:active {
	    		background-color: $color-tertiaryBtnHover;
    		}
    	}
    	small {
    		color: $color-white;
    	}
    	.dropmenu > button {
    		color: $color-white;
    	}
    }
    &.light-gray {
		background-color: $color-fadedGray;
    }
}

.card-toggle-content {
	@include standardPadding();
	display: block;
	position: relative;
	padding-right: 43px !important;
	p {
		margin-bottom: 0;
		&.performance-indicators {
			padding-left: 54px;
			font-weight: 400;
			color: $color-black;
			font-size: 12.5px;
			&:before {
				left: 32px;
				top: 5px;
			}
		}
	}
	i.lrm-chevrondown {
		position: absolute;
		font-size: 9px;
		color: $color-gray;
		top: $standard-verticalPadding;
		right: 11px;
		cursor: pointer;
		padding: 8px;
	}
	@media (max-width: 1310px) {
		padding-right: 30px;
		i.lrm-chevrondown {
			right: 5.5px;
		}
		&.toggle-left {
			padding-right: 11.5px !important;
			padding-left: 30px;
			i.lrm-chevrondown {
				left: 5.5px;
			}
		}
	}
	&.toggle-left {
		padding-right: 23px !important;
		padding-left: 53px !important;
		i.lrm-chevrondown {
			right: auto;
			left: 11px;
		}
		.indent-left-sm + i.lrm-chevrondown {
			left: 70px;
			@media (max-width: 501px) {
				left: 40px;
			}
		}
	}
	h3 {
		color: $color-black;
		&.competency {
			padding-left: 25px;
			&:before {
				left: -8px;
			}
		}
	}
	&:not(.toggle-on-chevron-only):hover {
		cursor: pointer;
	}
	+ section {
		display: none;
	}
	&.active, &.disabled {
		border-bottom: solid 1px $color-strokeGray;
		+ section {
			display: block;
		}
        i.lrm-chevrondown {
            transform: rotate(180deg);
        }
    }
    &.no-border-bottom + section {
    	padding-top: 0;
    }
    &.disabled {
        cursor: auto;
        i.lrm-chevrondown {
            display: none;
        }
    }
    &.gray-header {
		background-color: $color-fadedGray;
    	a {
	    	padding-top: 8px;
	    	padding-bottom: 8px;
	    	h3 {
	    		@include font-primary-bold();
	    		font-size: 15px;
	    	}
	    	i.lrm-chevrondown {
	    		top: 15px;
	    	}
    	}
    }
	&.show-action {
		aside {
			padding: 10px 15px;
		}
	}
}

.card .notification {
    border-left: solid 5px transparent;
    position: relative;
}

@keyframes notificationPopOn {
    0%   {transform: scale(0);}
    25%   {transform: scale(0);}
    75%   {transform: scale(1.25);}
    100%   {transform: scale(1);}
}
@keyframes scrollBackgroundVert {
	from { background-position: 0 0, 0 0; }
	to { background-position: 0 200px, 0 250px; }
}



section.card-table {
	padding: 0;
	max-width: 100%;
	overflow: auto;
	td {
		section {
			padding: 0;
		}
	}
}

.card-poll-choices, .card-poll-results {
	padding-top: 0;
	> p {
		margin: 10px 0 12px 0;
	}
	a[class^="btn-fill-"] + small {
		padding-left: 10px;
	}
	small {
		font-size: 12.5px;
		color: $color-black;
		a {
			font-weight: 400;
		}
	}
}

.card-poll-results {
	display: none;
	p {
		margin-bottom: 0;
	}
}

.poll-result-graph {
	width: 100%;
	height: 40px;
	border: solid 1px $color-darkGray;
	margin-bottom: 18px;
	> div {
		height: 100%;
		/* Moved to color.scss
		background-color: $color-custom;
		*/
	}
}

@keyframes incrementBtn {
    0%   {
            transform: scale(1,1);
            color: $color-white;
        }
    50%  {
            transform: scale(1.3,1.3);
            color: $color-white;
        }
    100% {
            transform: scale(1,1);
            color: $color-white;
        }
}

@keyframes decrementBtn {
    0%   {transform: scale(1,1);}
    50%  {transform: scale(.9,.9);}
    100% {transform: scale(1,1);}
}

.card-btn {
	text-transform: uppercase;
	font-size: 15px;
	position: relative;
	color: $color-link;
	padding: 14px;
	height: 0;
	border: solid 1px $color-link;
	border-radius: 200px;
	display: inline-block;
	text-indent: -10000em;
	transition: none;
    &:before {
    	position: absolute;
    	left: 7px;
    	top: 6px;
    	text-indent: 0;
		font-family: 'Lrm';
		font-weight: normal;
    }
    &:hover, &.active {
    	background-color: $color-link;
    	color: $color-white;
    }
    &:not(:last-child) {
    	margin-right: 35px;
    }
    &.like-btn {
    	&:before {
    		content: '\f02f';
		}
    	span {
    		position: absolute;
    		text-indent: 0;
    		top: 8px;
    		right: -25px;
    		font-size: 12.5px;
    		color: $color-black;
    	}
    }
    &.bookmark-btn {
    	float: right;
    	&:before {
    		content: '\f034';
    		left: 8px;
    	}
    }
    &.share-btn {
    	&:before {
    		content: '\f032';
		    left: 5px;
		    top: 7px;
    	}
    }
    &.flag-btn {
    	position: absolute;
    	top: 0px;
    	right: 0px;
    	border-radius: 0;
    	font-size: 12.5px;
    	padding: 9px;
    	&.active {
    		background-color: $color-error;
    		border-color: $color-error;
    	}
    	&:before {
    		content: '\f033';
    		left: auto;
    		right: 2px;
    		top: 2px;
    	}
    }
    &.increment:before {
        animation: incrementBtn .25s ease;
    }
    &.decrement:before {
        animation: decrementBtn .25s ease;
    }
    @media (max-width: $break-mobileSmall) {
    	padding: 15px;
    	font-size: 12.5px;
    	&:before {
    		top: 4px;
    	}
    }
}

.card-attachment {
	@include standardPadding();
	background-color: $color-fadedGray;
	border-top: solid 1px $color-strokeGray;
	&:last-child {
		border-radius: 0 0 4px 4px;
	}
	&:first-child {
		border-top: none;
	}
}

.comment-box, .reply-box {
	height: auto;
	padding-left: 40px;
	.avatar {
	    position: absolute;
	    left: 12.5px;
	    img {
		    max-width: 40px;
	    }
	}
	div {
	    width: auto;
	    textarea {
		    height: 36px;
			transition: height ease .2s, margin ease .2s;
			@media (max-width: $break-mobileSmall) {
				margin-left: 8px;
			}
			+ a[class^="btn-"] {
				display: none;
			}
			&:focus {
				height: 72px;
				+ a[class^="btn-"] {
					display: block;
				}
			}
	    }
	    /* For use with the html on the homefeed. HTML strucutre:
	    <div class="attachment-add">
			<a href="#">(+) Add Attachment</a>
		</div>
		and
		<div class="attachment-added">
		    <span href="#" class="attachment-name">
			    <i class="lrm lrm-genericfile"></i> attachment.file
		    </span>
		    <a class="remove" href="#">
		    	<i class="lrm lrm-remove"></i>
			</a>
		</div>
		HTMl appears between textarea and comment button
		*/
	    .attachment-add {
	    	float: left;
		    margin-top: 25px;
	    }
	    .attachment-added {
	    	margin-top: 15px;
	    	span.attachment-name {
				width: 75%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				display: inline-block;
				padding-bottom: 4px;
	    		i {
	    			font-size: 20px;
	    		}
	    	}
	    	a.remove {
	    		float: right;
	    	}
	    }
	    @media (max-width: 768px) {
		    .attachment-add {
		    	margin-top: 0;
	    	}
		    .mentions-input-box {
		    	~ .btn-fill-custom.right-btn {
		    		display: block !important;
		    	}
		    }
		}
	    @media (max-width: 500px) {
		    .mentions-input-box {
		    	~ .btn-fill-custom.right-btn {
		    		margin-left: 8px;
		    	}
	    	}
    	}
	}

	@media (max-width: 500px) {
		padding-left: 0;
		div textarea {
			margin-left: 0;
		}
		.avatar {
			display: none;
		}
	}
}

.reply-box {
	background-color: #f5f5f5;
	div {
	    textarea {
			resize: vertical;
			height: 72px;
			margin-bottom: 12px;
			+ a[class^="btn-"] {
				display: block;
			}
	    }
	}
}

.comment {
	@include clearfix();
	display: block;
	position: relative;
	a:hover {
		@include linkUnderlinesImportant($color-fadedGray, $color-linkHover);
	}
	.avatar {
		position: absolute;
		left: -10px;
		img {
			max-width: 40px;
		}
	}
	.comment-holder {
		margin-left: 50px;
		p {
			margin-bottom: 0;
			&:last-child {
				font-size: 12.5px;
			}
		}
	}
	&:not(:last-child) {
		margin-bottom: 16px;
	}
	.comment {
		margin-top: 16px;
	}
	.dropmenu {
		button {
		    padding: 8px;
		}
	    ul {
	    	top: -5px;
	    }
	}
	@media (max-width: 500px) {
		.avatar {
			left: 0;
		}
	}
}

.card-status {
	p {
	    margin-bottom: 0;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 12.5px;
		color: $color-darkGray;
		padding: 1.5px 0;
		i.lrm-check {
			margin-right: 6px;
			position: relative;
			top: -2px;
			display: inline-block;
			&:before {
				display: inline-block;
				line-height: 1.2em;
				background-color: $color-green;
				padding: 4px;
				border-radius: 600px;
				color: $color-white;
				font-size: 9px;
			}
		}
	}
}

/*.card.vertical-tiny {
	.card-cover-photo, section {
		float: left;
	}
	.card-cover-photo {
		width: 40%;
		overflow: hidden;
		img {
			min-width: 168px;
			margin: 0;
		}
		@media (max-width: 858px) {
			width: 50%;
		}
		@media (max-width: 858px) {
			width: 50%;
		}
	}
	section {
		width: 60%;
		small {
			display: block;
			height: 3em;
		}
		@media (max-width: 858px) {
			width: 50%;
		}
		@media (max-width: 858px) {
			width: 50%;
		}
	}
	.block-button-wrapper {
		border-top: 0;
		div[class^="card-status-"] {
			border-top: solid 1px $color-strokeGray;
		}
	}
}
*/


div[class^="card-status-"] {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-black;
    font-size: 12.5px;
    text-align: center;
    background-color: $color-white;
    width: 100%;
    text-align: left;
    position: relative;
    max-height: 40px;
    border-radius: 0 0 4px 4px;
	padding: 3px 0;
    > i.lrm {
        margin-right: 12.5px;
        position: relative;
        top: -2px;
        display: inline-block;
        &:before {
            display: inline-block;
            line-height: 1.2em;
            color: #fff;
            font-size: 9px;
            position: relative;
            z-index: 10;
        }
        &:after {
        	content: '';
        	position: absolute;
        	top: -1px;
        	left: -3px;
        	padding: 10px;
        	border-radius: 600px;
        	z-index: 0;
        }
    }
}

div[class="card-status-following"] {
	> i.lrm {
		&:before {
			left: 2px;
			top: 2px;
		}
		&:after {
			background-color: $color-green;
		}
	}
}

div[class="card-status-member"] {
	> i.lrm {
		&:before {
			font-size: 12px;
			left: 2px;
			top: 1px;
		}
		&:after {
			background-color: $color-green;
		}
	}
}
div[class="card-status-owner"] {
	> i.lrm {
		&:before {
			font-size: 12.5px;
			left: 1px;
			top: 1.5px;
		}
		&:after {
			background-color: $color-red;
		}
	}
}
div[class="card-status-manager"] {
	> i.lrm {
		&:before {
			font-size: 12px;
			left: 2px;
			top: 1.5px;
		}
		&:after {
			background-color: $color-blue;
		}
	}
}
div[class="card-status-requested"] {
	> i.lrm {
		&:before {
			left: 1px;
		    top: 2px;
			font-size: 11px;
		}
		&:after {
			background-color: $color-black;
		}
	}
}


.corner-notification {
    position: absolute;
    top: 2px;
    right: 2px;
    button {
        display: block;
        @include font-primary-semibold();
        border: 0;
        background-color: transparent;
        position: relative;
    }
    .favicon {
        position: absolute;
        right: 5px;
        top: 6px;
        line-height: 1;
        i {
        	font-size: 0;
        	color: rgba(0,0,0,0);
        	&:before {
		        font-size: 16px;
		        text-indent: 0;
		        color: $color-charcoal;
        	}
        }
    }
    .counter {
        font-size: 10px;
        position: absolute;
        color: #fff;
        background-color: #af1813;
        padding: 2px;
        min-width: 12.5px;
        min-height: 12.5px;
        text-align: center;
        right: 0;
        border-radius: 200px;
        font-weight: 800;
        line-height: 1;
    }
}
