//
//	Forms and input elements
//
///////////////////////////

input[type="text"] {
    &.with-help-link {
    	margin-bottom: 0;
    	+ small {
    		padding-top: 6px;
	    	margin-bottom: 20px;
    	}
    }
}
input[type="number"] {
    padding-right: 0;
    &.inline {
        width: 50px;
        padding-left: 4px;
        margin-bottom: 0;
    }
}

input[type=number].no-arrows::-webkit-inner-spin-button,
input[type=number].no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number].no-arrows {
    -moz-appearance:textfield;
}

input.search {
	background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201008%201008%22%3E%3Cpath%20fill%3D%22%23bababc%22%20d%3D%22M738%20594l270%20270q0%2059-42.5%20101.5T864%201008L594%20738q-95%2055-200.5%2055T197%20740%2053%20595.5%200%20396t53-199T197%2053%20395%200t198%2053%20144%20144%2053%20198q4%20109-52%20199zm-520.5-20.5Q291%20648%20395.5%20648T574%20574.5%20648%20395t-73-178.5T395.5%20144t-179%2073T144%20394.5t73.5%20179z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: 9px 50%;
    background-size: 18px;
    padding-left: 39px !important;
}

input.date {
    width: 130px;
    padding-right: 30px;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2039.66%2040%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23bababc%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Edate%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cg%20id%3D%22Layer_69%22%20data-name%3D%22Layer%2069%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M30.5%209a1.7%201.7%200%200%200%201.3-.5%202.3%202.3%200%200%200%20.5-1.5V2a2.3%202.3%200%200%200-.5-1.4%201.7%201.7%200%200%200-1.3-.6%202%202%200%200%200-1.8%202v5a2%202%200%200%200%201.8%202z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M36.5%204.3h-2v3.2a4%204%200%200%201-8%200V4.3H13.7v3.2a4%204%200%200%201-8.2%200V4.3H3.2A3.2%203.2%200%200%200%200%207.5v29.3A3.2%203.2%200%200%200%203.2%2040h33.3a3.2%203.2%200%200%200%203.2-3.2V7.5a3.2%203.2%200%200%200-3.2-3.2zM37.7%2035c0%202.2-.6%203-2.5%203H4.6c-2%200-2.7-.6-2.7-2.2V16.3h35.7z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M9.6%209a1.7%201.7%200%200%200%201.3-.5%202.3%202.3%200%200%200%20.4-1.5V2a2.3%202.3%200%200%200-.6-1.4A1.7%201.7%200%200%200%209.7%200a2%202%200%200%200-1.8%202v5a2%202%200%200%200%201.8%202z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: 100px 50%;
    background-size: 18px;
}
input.time {
    width: 108px;
    padding-right: 30px;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23bababc%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Etime%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cg%20id%3D%22Layer_69%22%20data-name%3D%22Layer%2069%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M21%207h-2l-.8%2014.8%2013.3-.8v-2l-9.7-.8L21%207z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M20%200A20%2020%200%200%200%209.4%2037l.5.3a20%2020%200%200%200%203.7%201.7h.5a20%2020%200%200%200%205.8%201%2020%2020%200%200%200%206-1l.6-.2a19.7%2019.7%200%200%200%203.8-1.8l.8-.5A20%2020%200%200%200%2020%200zm0%2038a18%2018%200%201%201%2018-18%2018%2018%200%200%201-18%2018z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: 78px 50%;
    background-size: 18px;
}

input.email, input.url {
    padding-right: 30px;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2031.01%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23bababc%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Eemail%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M36.7%200H3.3A3.3%203.3%200%200%200%200%203.3v24.5A3.3%203.3%200%200%200%203.3%2031h33.4a3.3%203.3%200%200%200%203.3-3.3V3.2A3.3%203.3%200%200%200%2036.7%200zM38%207.7l-18%208-18-8V3.4A1.5%201.5%200%200%201%203.3%202h33A1.5%201.5%200%200%201%2038%203.3zm0%205.8v12.7c0%201.6-.2%203-3%203H5c-2.8%200-3-1-3-3V9.8L20%2018l18-8.2z%22%20id%3D%22Layer_69%22%20data-name%3D%22Layer%2069%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: 98.5% 50%;
    background-size: 18px;
}
input.url {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23bababc%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Eurl%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cg%20id%3D%22Delete%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M23.8%2022.8l-.4-.3a3%203%200%200%200-2.2-.5H21a.5.5%200%200%201-.4%200l-2.4-1.6a4.5%204.5%200%200%200-3.3-.7l-3%20.6a1%201%200%200%200-.8%201v4a2.4%202.4%200%200%200%201.4%202l2.3%201.3a.7.7%200%200%201%20.4.5l.4%202.3a7.3%207.3%200%200%200%201%202.8l1.5%202a1.8%201.8%200%200%200%201.5.8h.3a1.8%201.8%200%200%200%201.3-.7%201.7%201.7%200%200%200%20.3-1.2l-.4-2%201-.7a3%203%200%200%200%20.8-1.8v-1.5h.5A1.8%201.8%200%200%200%2025%2027v-1.6a3%203%200%200%200-1.2-2.6zm-.6%202.4v1.6h-.4a1.8%201.8%200%200%200-1.5%201.5L21%2030a1%201%200%200%201-.2.7l-1.3%201a1%201%200%200%200-.2%201l.3%202-1-1.7a5.5%205.5%200%200%201-1-2l-.4-2.3a2.6%202.6%200%200%200-1.5-1.8l-2.3-1.3a1%201%200%200%201-.4-.3V22l2.2-.4a2.7%202.7%200%200%201%202%20.4l2.3%201.6a2.4%202.4%200%200%200%201.7.4h.3a1.2%201.2%200%200%201%201%200l.3.3a1%201%200%200%201%20.5%201z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M20%200a20%2020%200%201%200%2020%2020A20%2020%200%200%200%2020%200zm15.2%2010l.4.7a3%203%200%200%200-1.3.8l-.4.4a1%201%200%200%201-1%200l-1.6-.5a4.8%204.8%200%200%200-.8-.2l.2-.8zm-7-.7a2.8%202.8%200%200%200%201-1%202.7%202.7%200%200%200%20.4-2l-.2-1.2.3-.3a18.2%2018.2%200%200%201%204%203.6l-3.7.4a1%201%200%200%200-.8.7l-.4%201.7a.4.4%200%200%201-.4.4l-1%20.2a.4.4%200%200%201-.5-.3l-.3-1a.4.4%200%200%201%20.2-.4l1.2-.7zM20%2038A18%2018%200%200%201%202%2017.8l.4.7a2.4%202.4%200%200%200%202.4%201.2l.2.2a2.7%202.7%200%200%200%202%201h1.2A1.4%201.4%200%200%200%209.4%2019a1%201%200%200%201%20.2-.6%201%201%200%200%201%20.6-.4l1.2-.2a1%201%200%200%200%20.6-.4l3.8-6h.8a1.5%201.5%200%200%200%201-1%201%201%200%200%200%200-.5l-.2-2a1%201%200%201%200-1.7.5l.3%201.2h-.6a1.5%201.5%200%200%200-1%20.7L11%2016.2H10a2.7%202.7%200%200%200-2.2%203H7a1%201%200%200%201-.6-.4L6%2018a1%201%200%200%200-1-.2h-.4a.7.7%200%200%201-.7-.2L2.4%2015a18%2018%200%200%201%203.2-6.2l.4.3a1.6%201.6%200%200%200%201%20.4%201.6%201.6%200%200%200%201.3-.7l.4-.5a1.7%201.7%200%200%201%201-.7v.8a1%201%200%200%200%201%20.8h.2a1%201%200%200%200%20.6-1l3-2%204.2-.6a1%201%200%200%200-.3-2l-4.5%201a1%201%200%200%200-.4%200L11.2%206a1%201%200%200%200-.3-.3%201%201%200%200%200-.8-.2h-.8a3.5%203.5%200%200%200-.8.4A18%2018%200%200%201%2028%203.6l-.2.4a1.8%201.8%200%200%200-.3%201.4l.2%201.4a1%201%200%200%201%200%20.6%201%201%200%200%201-.4.3l-1.2.5a2.3%202.3%200%200%200-1.2%202.5l.2%201a2.3%202.3%200%200%200%20.5%201A3%203%200%200%200%2025%2014l-.3%201.3a4.8%204.8%200%200%200%202.5%205.2%204.8%204.8%200%200%200%203%20.5%201%201%200%200%201%201.3.8L32%2024a6.2%206.2%200%200%200%201%202.3l1.3%202.2a3%203%200%200%200%201%201A18%2018%200%200%201%2020%2038zm16-10.5l-1.6-2.2a4.3%204.3%200%200%201-.6-1.6l-.4-2.2A3%203%200%200%200%2030%2019a3%203%200%200%201-1.8%200v-.2a3%203%200%200%201-1.6-3L27%2014a1%201%200%200%201%20.7-.8l1.5-.3a3%203%200%200%201%201.6.3l1.4.6a3%203%200%200%200%203-.8l.4-.3a1%201%200%200%201%20.6-.4h.4a18%2018%200%200%201-.2%2015.3%201%201%200%200%201-.5-.5z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}


input[type="password"] {
    padding-right: 30px;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%20-3%20763%201008%22%3E%3Cpath%20fill%3D%22%23bababc%22%20d%3D%22M706%20479q22%200%2038.5%2015t19.5%2035v428q0%2032-27%2047-13%207-28%207H54q-23%200-38.5-15.5T0%20957V533q0-23%2015.5-38.5T54%20479h34V292q0-122%2086-207T381%200t206%2085%2085%20207v187h34zm-177%200V292q0-61-44-105t-105-44q-40%200-74.5%2020T251%20217.5%20231%20292v187h298z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-size: 12px;
    &.validate-correct {
        background-image: url("images/validate-correct.svg");
    }
    &.validate-error {
        background-image: url("images/validate-error.svg");
    }
}

.card section .form-row {
	p {
		margin-bottom: 45px;
	}
	.checkbox {
		margin-top: 0;
	}
	ul.inline-scroll {
		max-height: 160px;
		border: solid 1px $color-strokeGray;
		margin-bottom: 20px;
		padding-left: 12px;
	}
	.card section {
		p {
			margin-bottom: 6px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

dd .card {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	margin-bottom: 0;
	section {
		padding-left: 0;
		&:first-child {
			padding-top: 0;
		}
		small strong {
			text-transform: uppercase;
		}
	}
}

.upload-files-box {
	border: dashed 2px $color-strokeGray;
	background-color: $color-offWhite;
	text-align: center;
	@include standardPadding();
	small {
		margin-top: 0;
		margin-bottom: $standard-bottomMargin/2;
	}
}

//upload files box
.ezdz-dropzone [type="file"] {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.upload-box {
    width: 100%;
    padding: 18px;
    text-align: center;
    border: dashed 2px $color-lightGray;
    border-radius: 4px;
    min-height: 80px;
    position: relative;
    &:hover a {
        text-decoration: underline;
    }
    &.ezdz-enter:not(.ezdz-accept) {
        border: solid 2px $color-link;
        background-color: $color-fadedGray;
    }
    &:before {
        @include iconFont();
        content: '\f07e';
        position: absolute;
        font-size: 40px;
        top: 20px;
        color: $color-gray;
    }
    div {
        padding: 10px 0 0 65px;
        text-align: left;
    }
}

.lrm-lock {
	color: $color-darkGray;
}

.note {
	background-color: $color-offWhite;
	border: solid 2px $color-strokeGray;
	margin-bottom: $standard-bottomMargin;
    position: relative;
    border-radius: 4px;
	@include standardPadding;
	p {
		margin-bottom: 12px;
	}
	ul,p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.input-btn-wrapper {
	width: 100%;
	position: relative;
	input[type="text"],
	input[type="search"],
	input[type="password"],
    input[type="email"],
	input[type="url"],
	input[type="number"] {
		width: 100%;
		padding-right: 90px;
	}
	[class^="btn-"] {
		position: absolute;
		right: 0;
		top: 0;
		width: 90px;
        height: 35px;
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
	}
    input.url-input {
        padding-right: 110px;
        + [class^="btn-"] {
            width: 110px;
        }
    }
    @media (max-width: 500px) {
        input[type="text"],
        input[type="search"],
        input[type="password"],
        input[type="email"],
        input[type="url"],
        input[type="number"],
        input.url-input {
            padding-right: 14px;
            margin-bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        [class^="btn-"] {
            position: relative;
            width: 100% !important;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 0px;
        }
    }
}

.character-count {
    font-size: 12px;
    color: $color-gray;
    margin-top: 8px;
    margin-bottom: 18px;
    &.over-limit {
        color: $color-error;
        &:after {
            content: ' (Limit exceeded)';
        }
    }
    &.under-limit {
        color: $color-error;
    }
}

label.mce-charactercount {
    display: none;
}

input[class*='validate-'] {
	background-position: 98%;
	background-repeat: no-repeat;
	background-size: 18px;
}

.validate-correct {
	background-image: url("images/validate-correct.svg");
}
.validate-error {
	background-image: url("images/validate-error.svg");
}

.advanced-filter {
	border: solid 1px $color-strokeGray;
	background-color: darken($color-offWhite, 1);
	margin-bottom: $standard-bottomMargin;
	h3 {
		width: 100%;
		background-color: $color-darkGray;
		color: $color-white;
		text-transform: uppercase;
		font-size: 14px;
		@include standardPadding();
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
	.filter-content {
		@include standardPadding();
		.secondary-options {
			display: none;
		}
		a.btn-fill-custom {
			margin-bottom: 24px;
			@media (min-width: 768px) {
				margin-top: 24px;
			}
		}
	}
	a.expand-options {
		color: $color-link;
		&:hover {
			color: $color-linkHover;
			text-decoration: underline;
		}
	}
}

div.textarea[contenteditable] {
    line-height: 1.7;
    padding: 3px 10px;
    border: solid 1px transparent;
    border-radius: 4px;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    cursor: text;
    &:focus {
        outline: 0;
        border-color: #bababc;
        background-color: #fafafa;
    }
    &:empty:before {
        content: attr(placeholder);
        display: block;
        color: $color-gray;
    }
}

/*-----
    Standard Form Elements
-----*/
.standard-radio-button {
    position: absolute;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    + label.standard-radio-label {
        position: relative;
        padding-left: 30px;
        min-height: 1.2em;
        &:hover {
            cursor: pointer;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            border-radius: 300px;
            border: solid 1px $color-strokeGray;
            background-color: $color-white;
            width: 18px;
            height: 18px;
            top: 2px;
        }
    }
    &:checked + label.standard-radio-label {
        &:before {
            border-color: $color-gray;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 5px;
            border-radius: 300px;
            background-color: $color-darkGray;
            width: 8px;
            height: 8px;
            top: 7px;
        }
    }
    &[disabled] {
        + label.standard-radio-label {
            &:hover {
                cursor: default;
            }
            &:before {
                background-color: $color-fadedGray;
                opacity: .5;
            }
            &:after {
                opacity: .5;
            }
        }
    }
    &:focus, &:active {
        + label.standard-radio-label {
            @include standardFocusState();
        }
    }
}

.standard-checkbox-button {
    position: absolute;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    + label.standard-checkbox-label {
        position: relative;
        padding-left: 30px;
        min-height: 1.2em;
        &:hover {
            cursor: pointer;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            border: solid 1px $color-strokeGray;
            background-color: $color-white;
            width: 16px;
            height: 16px;
            top: 2px;
            border-radius: 3px;
        }
        + .standard-checkbox-button + label.standard-checkbox-label {
            margin-left: 10px;
        }
         &.no-label {
            padding-left: 17px;
         }
    }
    &:checked + label.standard-checkbox-label {
        &:before {
            border-color: $color-gray;
        }
        &:after {
            @include iconFont();
            content: '\f00d';
            display: block;
            position: absolute;
            color: $color-darkGray;
            font-size: 10px;
            top: 5px;
            left: 3px;
        }
    }
    &[disabled] {
        + label.standard-checkbox-label {
            &:hover {
                cursor: default;
            }
            &:before {
                background-color: $color-fadedGray;
                opacity: .5;
            }
            &:after {
                opacity: .5;
            }
        }
    }
    &:focus, &:active {
        + label.standard-checkbox-label {
            @include standardFocusState();
        }
    }
}



/*-----
    Custom Selects
-----*/

/*- add dropdown -*/
.dropdown,
.dropup {
    position: relative
}
.dropdown-toggle:focus {
    outline: 0
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    li a {
        span {
            color: $color-black;
        }
        &:hover {
            @include removeUnderlines();
        }
    }
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}
.dropdown-menu>li>a {
    display: block;
    padding: 8px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: $color-fadedGray;
    outline: 0
}
.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
    color: #777
}
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
}
.open>.dropdown-menu {
    display: block
}
.open>a {
    outline: 0
}
.dropdown-menu-right {
    right: 0;
    left: auto
}
.dropdown-menu-left {
    right: auto;
    left: 0
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap
}
.dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990
}
.pull-right>.dropdown-menu {
    right: 0;
    left: auto
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    content: "";
    border-top: 0;
    border-bottom: 4px solid
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px
}
.bootstrap-select button {
    border-color: $color-strokeGray;
}

.bootstrap-select.btn-group .dropdown-menu li {
    small.text-muted {
      display: block;
      padding-left: 0;
      color: $color-darkGray;
    }
}