//
//	Global styles
//
///////////////////////////

.standard-page-header {
    background-color: $color-white;
    border-bottom: solid 1px $color-strokeGray;
	text-align: left;
    padding: 11px 15px 11px 15px;
    min-height: 38px;
	margin-bottom: 20px;
	@include clearfix();
	@media screen and (min-width: $break-tabletSmall) {
        padding: 11px 30px 11px 30px;
    }
    h1 {
        font-size: 18.5px;
        color: $color-black;
        @include font-primary-bold();
        display: inline;
        margin: 0;
        small {
        	display: block;
        }
    }
    .secondary-item {
    	font-weight: 600;
    	display: inline-block;
		margin-left: 10px;
    	time {
    		font-size: 16px;
			padding-left: 10px;
			border-left: solid 1px $color-black;
    	}
    	[class*=btn-] {
    		padding: 7px 16px;
    	}
    }
}

//Alternate page header code, may be used in the future written 3/29/2017
/* div.standard-page-header {
	padding: 11px 0 11px 30px;
	@include clearfix();
    @media screen and (min-width: 1025px) {
        padding: 11px 0 11px 50px;
    }
	h1 {
		float: left;
	}
	div.secondary-item {
		float: left;
		margin-left: 20px;
		a[class*="btn-"] {
			position: relative;
			top: 5px;
    	}
    	time {
    		font-size: 16px;
			padding-left: 10px;
			border-left: solid 1px $color-black;
			display: block;
    	}
	}
} */


.head-cover-photo {
	max-width: 1600px;
	height: 40vh;
	margin: -20px auto 23px;
	background-size: cover;
	background-position: top left;
	&.discover-photo {
		background-image: url('../images/discover-campus.jpg');
	}
}

h1 + small.subheader {
	text-transform: uppercase;
	font-size: 16px;
}

.list-header {
	margin-bottom: 8px;
}

a.dynamic-follow-btn {
	font-weight: 400;
	span:hover {
		background-color: transparent;
		text-decoration: underline;
	}
	&:hover {
		@include removeUnderlines();
	}
	&.follow, &.following {
		position: absolute;
		/* Moved to color.scss
		background-color: $color-custom;
		*/
		border-radius: 20px;
		right: 20px;
		top: 18px;
		width: 25px;
		height: 25px;
		overflow: hidden;
	    transition: width .2s ease, border-radius .2s ease;
	    &:after {
			@include iconFont();
			content: '\f020';
		    font-size: 12px;
		    transition: all .2s ease;
		    color: $color-white;
		    margin: auto;
		    display: block;
			position: absolute;
			top: 6px;
			left: 6px;
	    }
		&:hover {
			@include removeUnderlines();
			width: 70px;
			border-radius: 0px;
			&:after {
				content: 'Follow';
				@include font-primary-bold();
				text-transform: uppercase;
				font-size: 14px;
			}
		}
	}
	&.following {
		background-color: $color-white;
		border: solid 1px $color-darkGray;
		&:after {
			content: '\f00d';
			color: $color-darkGray;
			left: 4px;
		}
		&:hover {
			width: 90px;
			&:after {
				color: $color-darkGray;
				content: 'Unfollow';
			}
		}
	}
}

.inline-scroll {
	max-height: 400px;
	overflow-y: auto;
	li {
		label.checkbox.inline {
			margin: 0;
		}
	}
}

h3.section-header {
	@include font-roboto-light();
	font-size: 22px;
}

$profile-photo-size-adjust: 200px;


.standard-page-header + nav.standard-nav {
	margin-top: $standard-bottomMargin;
}


nav.standard-nav {
	text-align: left;
	@media (min-width: 801px) {
		padding: 0 30px;
		button.current-page {
			display: none;
		}
		ul.nav-items {
			margin: 0 0 15px;
		    padding-left: 0;
		    max-width: 1200px;
		    display: block !important;
		    li {
				display: inline-block;
				position: relative;
				line-height: 1.2em;
				a {
					text-transform: uppercase;
					color: $color-darkGray !important;
					transition: all .2s ease;
					position: relative;
					z-index: 10;
					display: block;
					font-weight: 700;
					&.active {
						color: $color-black !important;
					    border-bottom: solid 2px $color-black;
					}
					&:hover, &:focus, &:active {
						color: $color-black !important;
					    text-decoration: none !important;
					}
				}
				.notification-count {
					position: absolute;
					z-index: 5;
					top: -20px;
					right: -13px;
					color: #fff;
					font-size: 10px;
					font-weight: 800;
					text-align: center;
					&:before {
						content: '';
						z-index: -1;
						position: relative;
						display: block;
						background-color: #f04f4a;
						width: 14px;
						height: 14px;
						bottom: -15px;
						left: 0px;
						border-radius: 600px;
					}
				}
				&:not(:first-child) {
				    margin-left: 3.2%;
				}
				&.has-children {
				    z-index: 100;
				    > a:after {
				    	@include iconFont();
						content: '\f006';
						font-size: 6px;
						display: inline-block;
						position: absolute;
						top: -1px;
						right: -23px;
						padding: 8px;
				    }
					&.open > a:after {
						-ms-transform: rotate(180deg);
						-webkit-transform: rotate(180deg);
						transform: rotate(180deg);
					}
				    ul {
						display: none;
						background-color: #fff;
						position: absolute;
						min-width: 150px;
						text-align: center;
						border: solid 1px #e8e9ec;
						text-align: left;
						padding: 0 15px;
						z-index: 100;
						li {
							display: block;
						    padding: 0;
						    margin: 9px 0;
						    line-height: 1.2em;
						    white-space: nowrap;
						}
						&.empty {
							li {
								font-size: 14px;
								white-space: normal;
								min-width: 220px;
								line-height: 1.6em;
							}
						}
				    }
				}
		    }
		}
	}
	@media (max-width: 800px) {
		background-color: $color-fadedGray;
		text-align: left;
		margin-bottom: 20px;
		border-top: solid 1px $color-strokeGray;
		button.current-page {
			&:after {
				@include iconFont();
				content: '\f006';
			    font-size: 6px;
			    display: inline-block;
			    position: absolute;
			    top: 7px;
			    right: 2px;
			    padding: 8px;
			}
			&.open:after {
				-ms-transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
		button, a {
			display: block;
		    text-transform: uppercase;
		    font-size: 14px;
		    font-weight: 700;
		    padding: 12px 23px;
		    line-height: 1em;
		    position: relative;
			border: solid 1px $color-strokeGray;
			border-top: none;
			color: $color-black;
			border-left: none;
			border-right: none;
			width: 100%;
			background-color: transparent;
			text-align: left;
			.notification-count {
				position: absolute;
				z-index: 5;
				top: -10px;
				color: #fff;
				font-size: 10px;
				font-weight: 800;
				text-align: center;
				&:before {
					content: '';
					z-index: -1;
					position: relative;
					display: block;
					background-color: #f04f4a;
					width: 14px;
					height: 14px;
					bottom: -14px;
					left: 0px;
					border-radius: 600px;
				}
			}
		}
		ul.nav-items {
			display: none;
			li {
			    position: relative;
			    a {
			    	font-weight: 400;
				    width: 100%;
				    color: $color-darkGray !important;
				    &.active {
				    	font-weight: 700;
				    	background-color: $color-darkGray;
				    	color: $color-white !important;
				    }
			    }
			    ul {
			    	display: none;
			    	background-color: $color-white;
			    	a.active {
			    		background-color: $color-white;
			    		color: $color-black !important;
			    	}
			    	&.empty {
			    		li {
						    padding: 12px 23px;
			    			line-height: 1.6em;
			    		}
			    	}
			    }
			    &.has-children {
			    	> a:after {
						@include iconFont();
						content: '\f006';
					    font-size: 6px;
					    display: inline-block;
					    position: absolute;
					    top: 7px;
					    right: 2px;
					    padding: 8px;
					}
					&.open {
						> a:after {
							-ms-transform: rotate(180deg);
							-webkit-transform: rotate(180deg);
							transform: rotate(180deg);
						}
						> a.active:after {
							color: $color-white;
						}
					}
			    }
			}
		}
	}
}

.cover-nav {
	margin-top: -20px;
    * {
        transition: none !important;
    }
    .cover-photo {
        height: 230px;
        position: relative;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
		&:before {
			content: '';
			width: 100%;
			height: 120px;
			display: block;
			position: absolute;
			bottom: 0;
			// Moved to color.scss
			//background: -moz-linear-gradient(top,  rgba(darken($color-custom, 70), 0) 0%, rgba(darken($color-custom, 70), .55) 100%); /* FF3.6-15 */
			//background: -webkit-linear-gradient(top,  rgba(darken($color-custom, 70), 0) 0%,rgba(darken($color-custom, 70), .55) 100%); /* Chrome10-25,Safari5.1-6 */
			//background: linear-gradient(to bottom,  rgba(darken($color-custom, 70), 0) 0%,rgba(darken($color-custom, 70), .55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		}
		div[class^="col-"] {
			position: static;
		}
		.user-information {
			position: absolute;
			bottom: 0;
            padding-right: 170px;
			margin-left: $profile-photo-size-adjust + 20px;
			h1 {
				margin-bottom: 0;
				color: $color-white;
				+ small.subheader {
					color: $color-white;
					margin-bottom: 25px;
					padding-top: 0;
				}
			}
            a.btn-outline-white {
                position: absolute;
                right: 0;
                top: 8px;
            }
            a.back-btn {
            	position: absolute;
            	top: -17px;
            	left: 0;
            }
		}
	}
	.profile-image {
		float: left;
		width: $profile-photo-size-adjust;
		position: absolute;
		bottom: -60px;
		z-index: 11;
		background-color: $color-white;
		text-align: center;
		border-radius: 4px 4px 0 0;
		img {
	        border: solid 1px $color-white;
			border-bottom: 0;
			max-width: 100%;
			border-radius: 4px 4px 0 0;
		}
		.block-button-wrapper {
	        border: solid 1px $color-strokeGray;
			margin-top: -2px;
			[class*="block-btn-"] {
				padding: 12px 16px !important;
			}
		}
	}
	.standard-nav {
		margin: 25px 0;
	    padding-left: 270px;
	    @media (max-width: 1024px) {
		    padding-left: 250px;
	    }
	}
	@media (max-width: 800px) {
		.cover-photo {
			height: auto;
			background-size: auto 260px;
			&:before {
				display: none;
			}
			.user-information {
				position: relative;
				text-align: center;
                padding-right: 0;
                margin-left: 0;
				h1, small {
					padding-left: 0;
					color: $color-black;
					+ small.subheader {
						color: $color-black;
						margin-bottom: 15px;
                        display: block;
					}
				}
                a.btn-outline-white {
                    position: static;
                    margin-bottom: 20px;
                    color: $color-secondaryBtn;
                    border-color: $color-secondaryBtn;
                    &:hover {
                        color: $color-white;
                        background-color: $color-secondaryBtn;
                    }
                }
                a.back-btn {
                	position: static;
                	color: $color-black;
            	    margin: 10px 0 5px;
				    display: block;
                }
			}
			.profile-image {
				position: relative;
				float: none;
				margin: 40px auto 10px;
				bottom: 0px;
			}
		}
		.standard-nav {
			margin: 25px 0;
		    padding-left: 0;
		}
	}
}

.pill-nav {
	@include clearfix();
	margin-bottom: $standard-bottomMargin;
	li {
		float: left;
		&:not(:last-child) {
			margin-right: 10px;
		}
		a {
			color: $color-darkGray !important;
			text-transform: uppercase;
			display: block;
			border-radius: 200px;
		    padding: 0px 8px;
		    font-size: 12px;
		    line-height: 2;
		    transition: .2s ease background-color;
		    &:hover {
		    	text-decoration: none !important;
				color: $color-white !important;
				background-color: $color-black;
		    }
		    &:focus {
		    	text-decoration: none !important;
		    }
			&.active {
				color: $color-white !important;
				background-color: $color-black;
			}
		}
	}
}

.page-utility-bar {
    padding: 0 15px;
	@media (min-width: 700px) {
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
	    padding-left: 218px;
	    padding-right: 0;
	    transition: padding-left .2s ease;
	    z-index: 200;
		article.card {
			border-top-color: darken($color-strokeGray, 2);
			margin-bottom: 0;
			border-radius: 0;
			border-left: none;
			border-right: none;
			section.card-attachment {
				background-color: darken($color-fadedGray,3);
			}
		}
	}
	@media (max-width: 1050px) and (min-width: 700px) {
        padding-left: 60px;
    }
}
main.menuClosed {
	.page-utility-bar {
		@media (min-width: 700px) {
		    padding-left: 60px;
		}
	}
}

.limit-1-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

h1.limit-1-line {
    width: 100%;
}

p.limit-1-line {
	margin-bottom: 6px;
}

td.limit-1-line {
	display: table-cell;
}

.tagblock {
    display: inline-block;
    font-size: 12.5px;
    padding: 8px 6px 8px 8px;
    background-color: #f5f5f5;
    border: solid 1px #bababc;
    border-radius: 4px;
    line-height: 1.4em;
    margin-bottom: 8px;
    &:not(:last-child) {
    	margin-right: 8px;
	}
	a {
		&:hover {
			@include linkUnderlinesImportant(#f5f5f5, $color-link)
		}
	}
	button.delete {
		border: none;
		color: $color-gray;
		background-color: transparent;
	}
}

.container-blog-style {
	max-width: 750px;
	section {
		h1 {
			margin-bottom: $standard-bottomMargin;
		}
		.clearfix:first-of-type {
			p.medium {
				strong {
					display: block;
				}
			}
		}
	}
	.right-btn {
		a {
			margin-bottom: $standard-bottomMargin;
		}
	}
}


.dropmenu {
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	text-align: right;
	@media (max-width: $break-mobileSmall) {
		i.lrm-more {
			font-size: 3px;
		}
	}
	> button {
		position: absolute;
		display: inline-block;
		padding: 16px;
		color: $color-charcoal;
		font-size: 4px;
		right: 0;
		bottom: 0;
		background-color: transparent;
		border: none;
		&:hover {
			color: $color-secondaryBtn;
		}
	}
	ul {
		position: absolute;
		display: none;
		text-align: left;
		right: 10px;
	    top: -9px;
		border: solid 1px $color-strokeGray;
		background-color: $color-white;
		z-index: 2000;
		@include centeredShadow();
	    @media (min-width: $break-mobileSmall) {
	    }
		li {
			&:not(:last-child) {
				border-bottom: solid 1px $color-strokeGray;
			}
			&:hover {
	            background-color: $color-offWhite;
			}
			button, a {
				font-size: 12.5px;
				white-space: nowrap;
				display: block;
				padding: 6px 14px;
			    width: 100%;
			    min-width: 80px;
			    text-align: left;
				color: $color-secondaryBtnHover;
				position: relative;
				background-color: transparent;
				border: none;
			}
			a {
				color: $color-secondaryBtnHover !important;
				font-weight: 400;
				line-height: normal;
				&:hover {
					text-decoration: none !important;
				}
			}
		}
	}
}

td div.dropmenu {
    top: 0;
    position: relative;
    text-align: center;
    > button {
        top: 0;
        left: 0;
        position: relative;
	    padding: 10px 1px;
    }
    ul {
        top: 20px;
    }
}

.thin.thin-width .dropmenu {
	> button {
		padding: 9px;
	}
	ul {
		top: -5px;
	}
}

.dynamic-content-backdrop {
	position:fixed;
	width:100%;
	height:100%;
	z-index:-1;
	top:0;
	left: 0;
	cursor: default;
}

h2 {
	a {
		font-weight: 300;
	}
	&.alert-red {
		color: $color-red;
	}
}

.alert-text {
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 10px;
}


small.alert-text {
	font-weight: 700;
	color: $color-red;
}
.red {
	color: $color-error;
}

.avatar {
	img {
		border-radius: 600px;
		max-width: 55px;
		background-color: $color-white;
	}
	@media (max-width: $break-mobileSmall) {
		max-width: 40px;
		img {
			max-width: 40px;
		}
	}
}

span[class*=avatar] {
	border-radius: 600px;
	display: inline-block;
}

.avatar-lg {
	img {
		border-radius: 600px;
		margin-bottom: 20px;
		background-color: $color-white;
		max-height: 64px;
	}
	&:hover {
		@include removeUnderlines();
	}
}
.avatar-md {
	img {
		border-radius: 600px;
		background-color: $color-white;
		max-height: 48px;
		max-width: 48px;
		position: relative;
		top: 8px;
	}
	&:hover {
		@include removeUnderlines();
	}
}
.avatar-sm {
	img {
		border-radius: 600px;
		background-color: $color-white;
		max-height: 34px;
		max-width: 34px;
		position: relative;
		top: 8px;
	}
	&:hover {
		@include removeUnderlines();
	}
}
h2 .avatar-sm img {
	top: 6px;
}

.avatar-xs {
	img {
		border-radius: 600px;
		background-color: $color-white;
		max-height: 26px;
		max-width: 26px;
	}
	&:hover {
		@include removeUnderlines();
	}
}

span.avatar-xs {
	display: inline-block;
    position: relative;
    width: 33px;
    height: 1.2em;
    img {
		position: absolute;
		top: -2px;
		left: 0;
    }
}
span.avatar-md {
	display: inline-block;
    position: relative;
    width: 48px;
    height: 1.2em;
    img {
		position: absolute;
		top: -2px;
		left: 0;
    }
}

.icon-xs {
	max-width: 16px;
	position: relative;
    top: 4px;
}
.icon-lg {
    width: 72px;
    height: 72px;
}
span.icon-lg {
	display: inline-block;
}

.confetti-background {
	background-image: url('images/color-icons/Empty-State-Background.png');
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 152px;
    .icon-lg {
    	margin-top: 10px;
    }
}

//Accessibility. If this grows move it to its own file
a.skip-to-maincontent {
	position: absolute;
	left: -999px;
	z-index: 100000;
	background-color: $color-white;
	display: block;
	padding: 20px;
	border-bottom-right-radius: 4px;
	color: $color-link;
	&:focus {
		left: 0;
	}
}

.sr-only {
	position: absolute;
	text-indent: -1000px;
	width: 0;
	height: 0;
	font-size: 0;
	color: rgba(0,0,0,0);
	opacity: 0;
}

a.back-to-top {
	position: fixed;
	display: none;
	z-index: 1000;
	border-radius: 3px;
	background-color: $color-white;
	color: $color-link;
	padding: 14px;
	right: 4vw;
	bottom: 4vh;
	@include centeredShadow();
	@media (min-width: 700px) {
		bottom: 10vh;
	}
}