.inline-edit {
    position: relative;
    transition: all .1s ease;
    &[contenteditable] {
        border: solid 1px $color-strokeGray;
        border-radius: 4px;
        padding: 4px 8px;
        margin-bottom: 4px;
        font-family: 'Open Sans', arial, sans-serif;
        min-height: 32px;
        &:focus {
            outline: 0;
            border-color: $color-gray;
            background-color: lighten($color-fadedGray, 2);
        }
    }
    &:not(.inline-edit-trigger-remote):not([contenteditable]):hover,&:not(.inline-edit-trigger-remote):not([contenteditable]):focus {
        cursor: pointer;
        background: $color-fadedGray;
        &:after {
            @include iconFont();
            content: '\f028';
            font-size: 14px;
            color: $color-charcoal;
            background-color: $color-white;
            position: absolute;
            top: 3px;
            right: 4px;
            padding: 5px;
            border-radius: 4px;
        }
    }
    &:empty:before {
        content: attr(placeholder);
        display: block;
        color: $color-gray;
    }
}
.card section>p:last-of-type.inline-edit[contenteditable] {
    margin-bottom: 4px;
}