//
//	Link and button styles
//
///////////////////////////

main, .tooltipster-box {
    a:not(.avatar):not([role=button]):not([class^="btn-"]):not(.btn) {
        color: $color-link;
        &:hover, &.medium.normal-weight.active, &:focus {
            @include linkUnderlines($color-white, $color-linkHover);
        }
        &.plain-text-link {
			color: $color-black !important;
			font-weight: 400;
			&:hover, &:focus {
	            @include linkUnderlines($color-white, $color-black);
	        }
		}
    }
}
.block a:not(.avatar):not([role=button]):not([class^="btn-"]):not(.btn) {
    &:hover {
        @include linkUnderlines($color-offWhite, $color-linkHover);
    }
}

[class^="btn-"]:not(.bootstrap-select), [class^="block-btn"] {
	display: inline-block;
	padding: 11px 14px;
	text-transform: uppercase;
	font-size: 12.5px;
	transition: all .25s;
	text-align: center;
	min-width: 75px;
	line-height: 1;
	&.small {
		font-size: 10px;
	}
    &.minwidth-btn {
        min-width: 150px;
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    &.disabled {
		opacity: .5;
		&:hover {
			cursor: text;
		}
	}
}

button[class^="btn-"]:not(.bootstrap-select) {
	@include font-primary-regular();
	font-weight: 600;
}

[class*="btn-outline-"] {
    border: solid 1px #000;
    transition: none;
    border-radius: 4px;
    background-color: transparent;
}
[class*="btn-fill-"] {
    border: solid 1px #000;
    border-radius: 4px;
}

.btn-outline-gray {
    color: $color-secondaryBtn;
    border-color: $color-secondaryBtn;
    &:hover, &:focus {
        color: $color-white;
        background-color: $color-secondaryBtn;
    }
    &.disabled:hover {
    	color: $color-secondaryBtn;
    	background-color: transparent;
    }
}

.btn-outline-light {
    color: $color-tertiaryBtnHover;
    border-color: $color-tertiaryBtnHover;
    &:hover, &:focus {
        color: $color-white;
        background-color: $color-tertiaryBtnHover;
    }
    &.disabled:hover {
    	color: $color-tertiaryBtnHover;
    	background-color: transparent;
    }
}

.btn-outline-white {
	color: $color-white;
	border-color: $color-white;
	&:hover, &:focus {
		color: $color-black;
		background-color: $color-white;
	}
    &.disabled:hover {
    	color: $color-white;
    	background-color: transparent;
    }
}

/* Moved to color.scss
.btn-outline-custom {
	color: $color-primaryBtn;
	border-color: $color-primaryBtn;
	&:hover, &:focus {
		color: $color-primaryBtnHover;
		border-color: $color-primaryBtnHover;
	}
    &.disabled:hover {
    	color: $color-primaryBtn;
    	background-color: transparent;
    }
}
*/

.btn-blank-gray {
	color: $color-secondaryBtn;
	border: none;
	&:hover, &:focus {
		color: $color-secondaryBtnHover;
		border: none;
	}
	&.disabled:hover {
    	color: $color-secondaryBtn;
    }
}

.btn-fill-gray {
	color: $color-white;
	background-color: $color-secondaryBtn;
	border-color: $color-secondaryBtn;
	&:hover, &:focus {
		color: $color-white;
		border-color: $color-secondaryBtnHover;
		background-color: $color-secondaryBtnHover;
	}
	&.disabled:hover {
    	background-color: $color-secondaryBtn;
    }
}

.btn-fill-light {
	color: $color-white;
	background-color: $color-tertiaryBtn;
	border-color: $color-tertiaryBtn;
	&:hover, &:focus {
		color: $color-white;
		border-color: $color-tertiaryBtnHover;
		background-color: $color-tertiaryBtnHover;
	}
	&.disabled:hover {
    	background-color: $color-tertiaryBtn;
    }
}


.btn-fill-custom {
	color: $color-white;
	/* Moved to color.scss
	background-color: $color-primaryBtn;
	border-color: $color-primaryBtn;
	*/
	&:hover, &:focus {
		color: $color-white;
		/* Moved to color.scss
		border-color: $color-primaryBtnHover;
		background-color: $color-primaryBtnHover;
		*/
	}
	/* Moved to color.scss
	&.disabled:hover {
    	background-color: $color-primaryBtn;
    }
    */
}


.btn-fill-clear {
	color: $color-darkGray;
	background-color: transparent;
	border: none;
	&:hover, &:focus {
		color: $color-darkGray;
		text-decoration: underline;
		border: none;
		background-color: transparent;
	}
	i.lrm-share {
		margin-right: 10px;
	}
}

.btn-fill-simple {
	color: $color-link;
	text-transform: none !important;
	font-weight: 400;
	background-color: $color-offWhite;
	border: solid 1px $color-strokeGray;
	&:hover, &:focus {
		color: $color-link;
		border: solid 1px $color-strokeGray;
		background-color: $color-offWhite;
		text-decoration: underline;
	}
	i.lrm-chevronright {
		font-size: 10px;
		position: relative;
		top: -1px;
		margin-left: 4px;
	}
}

.btn-icon {
	color: $color-darkGray;
	border: solid 1px $color-strokeGray;
	i {
		margin-bottom: 12px;
		font-size: 24px;
		display: block;
	}
	&:hover, &:focus {
		background-color: $color-strokeGray;
	}
}


.block-button-wrapper {
	width: 100%;
	border-radius: 4px;
	@include clearfix();
	border-top: solid 1px $color-strokeGray;
	&.thin-block-btns {
		[class*="block-btn-"] {
			padding: 12px 16px !important;
		}
	}
	div[class^="card-status-"] {
	    padding: 13px 16px;
	    .dropmenu {
	        > button {
	        	padding: 18px;
	        }
	        ul {
	        	li button {
	        		white-space: nowrap;
	        		text-transform: none;
	        	}
	            @media (min-width: $break-mobileSmall) {
	                top: 0;
	            }
	        }
	    }
	}
}

.card section + .block-button-wrapper {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	> [class*="block-btn-"], .card-status-following {
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
	}
}

.card.stack-card + .card .block-button-wrapper:only-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

[class*="block-btn-"] {
	border-radius: 0;
}

.thin-btn {
	padding: 5px 12px !important;
	min-width: 0 !important;
}

.card-cover-photo + .block-button-wrapper {
	border-top: none;
}

.block-btn-full {
	width: 100%;
	border-radius: 0 0 4px 4px;
}
.block-btn-half {
	width: 50%;
	float: left;
}

.button-toggle-menu {
    display: inline-block;
    position: relative;
    ul.menu {
        position: absolute;
        background-color: $color-white;
        border: solid 1px $color-strokeGray;
        z-index: 1;
        display: none;
        @include centeredShadow();
        min-width: 260px;
        li {
            padding: 0;
            margin-bottom: 0;
            &:before {
                display: none;
            }
            a, button {
                padding: 5px 14px;
                color: $color-black !important;
                display: block;
                font-weight: 400 !important;
                width: 100%;
			    text-align: left;
			    font: inherit;
			    background-color: transparent;
			    border: none;
                &:hover, &:focus {
                    text-decoration: none !important;
                    background-color: $color-fadedGray;
                }
            }
        }
    }
    .toggle:after {
        content: '\f006';
        @include iconFont();
        display: inline-block;
        font-size: 7px;
        margin-left: 10px;
        top: -3px;
        position: relative;
    }
    &.active .toggle:after {
        transform: rotate(180deg);
    }
}

.right-btn {
	@include clearfix();
	float: right;
	margin-bottom: 20px;
	@media (max-width: $break-tabletSmall) {
		float: none;
		width: 100%;
		margin-bottom: 10px;
		text-align: right;
		a[class^="btn-"] {
			// float: right;
		}
	}
	+ dl dd:first-of-type {
		@media (min-width: $break-tabletSmall) {
			width: 33%;
		}
		@media (min-width: 1200px) {
			width: 45%;
		}
	}
	+ p {
		@media (min-width: $break-tabletSmall) {
			padding-right: 100px;
		}
	}
}

div.mentions-input-box ~ .btn-fill-custom {
    margin-top: 15px;
}

div#postarea div.mentions-input-box ~ .btn-fill-custom {
    margin-top: 8px;
}

.savedDetails {
	.right-btn {
		margin-bottom: 0;
	}
}

.back-btn {
	text-transform: uppercase;
	color: $color-white;
	font-weight: 400;
	&:before {
	    font-family: 'Lrm';
	    content: '\f00b';
	    margin-right: 7px;
	    font-size: 11px;
	    position: relative;
	    top: -2px;
	}
}

a.toggle[class^="btn-"].thin-btn {
    padding: 0 !important;
    margin-top: 6px;
}