ul.list {
    list-style: square;
    padding-left: 20px;
}

ul.bullet-list {
    list-style: disc;
    text-align: left;
    margin-bottom: 12px;
    padding-left: 23px;
}

ul.inline-link-list {
    li {
        display: inline-block;
        margin-right: 4px;
        margin-bottom: 8px;
        a {
            font-weight: 400;
        }
    }
    + p.text-right {
        margin-top: 40px;
    }
}


.list-2-column {
    @include clearfix();
    li {
        @media (min-width: $break-tabletSmall) {
            width: 48%;
            margin-right: 2%;
            float: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        a {
            font-weight: 400;
        }
    }
}
.list-3-column {
    @include clearfix();
    li {
        @media (min-width: $break-tabletSmall) {
            width: 50%;
        }
        @media (min-width: $break-tabletMedium) {
            width: 33%;
            float: left;
        }
        a {
            font-weight: 400;
        }
        label.checkbox.inline {
            margin: 0;
        }
    }
}

.tag-list {
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    @include customScrollbar();
    li {
        position: relative;
        padding-right: 90px;
        &:hover {
            background-color: lighten($color-strokeGray, 6);
        }
        a {
            font-weight: 400;
            span:hover {
                background-color: transparent;
                text-decoration: underline;
            }
            &:hover {
                @include removeUnderlines();
            }
            &.follow, &.following {
                position: absolute;
                /* Moved to color.scss
                background-color: $color-custom;
                */
                border-radius: 20px;
                right: 4px;
                top: 3px;
                width: 25px;
                height: 25px;
                overflow: hidden;
                transition: width .2s ease, border-radius .2s ease;
                &:after {
                    @include iconFont();
                    content: '\f020';
                    font-size: 12px;
                    transition: all .2s ease;
                    color: $color-white;
                    margin: auto;
                    display: block;
                    position: absolute;
                    top: 6px;
                    left: 6px;
                }
                &:hover {
                    @include removeUnderlines();
                    width: 70px;
                    border-radius: 0px;
                    &:after {
                        content: 'Follow';
                        @include font-primary-bold();
                        text-transform: uppercase;
                        font-size: 14px;
                    }
                }
            }
            &.following {
                background-color: $color-white;
                border: solid 1px $color-darkGray;
                &:after {
                    content: '\f00d';
                    color: $color-darkGray;
                    left: 4px;
                }
                &:hover {
                    width: 90px;
                    &:after {
                        color: $color-darkGray;
                        content: 'Unfollow';
                    }
                }
            }
        }
    }
}
dl.data-list {
    dt {
        width: auto;
        min-width: 0;
        margin-bottom: 6px;
        float: left;
    }
    dd {
        width: auto;
        min-width: 0;
        margin-bottom: 6px;
        float: right;
    }
}

dl {
    + hr {
        float: left;
        width: 100%;
    }
}
ul.additional-details {
    border-top: solid 1px $color-strokeGray;
    padding-top: 10px;
    margin-bottom: 10px !important;
    > li.prereqs, li.competencies {
        text-transform: uppercase;
        padding: 0;
        border-bottom: solid 1px $color-strokeGray;
        font-weight: 600;
        font-size: 14px;
        &:before {
            display: none;
        }
        ul {
            margin-bottom: 10px;
        }
        li {
            text-transform: none;
            padding-left: 28px;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
            position: relative;
            &:before {
                background-color: transparent;
                top: 8px;
                left: 0;
                position: absolute;
                @include iconFont();
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    li.prereqs {
        li:before {
            content: '\f015';
            color: $color-green;
        }
    }
    li.competencies {
        li:before {
            content: '\f007';
            /* Moved to color.scss
            color: $color-custom;
            */
            font-size: 20px;
        }
    }
}

ul.hover-list {
    > li {
        width: 100%;
        padding: 0 6px;
        position: relative;
        .dropmenu {
            > button {
                opacity: 0;
                padding: 3px;
                right: 8px;
                bottom: 7px;
                background-color: $color-white;
                border-radius: 3px;
                font-size: 7px;
                line-height: 1;
                &:hover, &:focus, &:active {
                    opacity: 1;
                }
            }
            ul {
                right: 8px;
                top: -7px;
            }
        }
        &:hover, &:focus {
            background-color: $color-fadedGray;
            .dropmenu > button {
                opacity: 1;
            }
        }
        .lrm-done {
            color: $color-green;
        }
    }
}