.normal-weight {
    font-weight: 400;
}
.regular-weight {
    font-weight: 400;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-left {
    text-align: left;
}
.text-left-md {
  @media (max-width: 992px) {
    text-align: left;
  }
}
.text-left-sm {
  @media (max-width: 700px) {
    text-align: left;
  }
}
.margin-bottom {
    margin-bottom: 20px;
}
.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.no-border-bottom {
    border-bottom: none !important;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.round-corners {
  border-radius: 4px;
}
@media (min-width: 500px) {
  .no-wrap {
    white-space: nowrap;
  }
}

.pop-on {
  -webkit-animation-name: animScale;
  animation-name: animScale;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
    display: block !important;
}
.pop-off {
    opacity: 0;
  -webkit-animation-name: animScaleOff;
  animation-name: animScaleOff;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
}
.all-caps {
    text-transform: uppercase !important;
}

.left{ float: left !important; }
.right{ float: right !important; }

p.small, li.small, label.small, div.p.small, a.small {
    position: relative;
    font-size: 12.5px;
}
p.large {
    position: relative;
    font-size: 16px;
}
.inline {
    display: inline-block;
    + [class*="button"], + [class*='btn-'] {
      margin-left: 10px;
    }
}
.block-element {
    display: block;
}
a.block-element {
  h2, h3, p {
    color: $color-black;
  }
  &:hover, &:focus, &:active {
    text-decoration: none !important;
  }
}
.add-space {
    margin-bottom: $standard-bottomMargin;
    display: block;
}
.add-half-space {
    margin-bottom: $standard-bottomMargin/2;
    display: block;
}
.normal-weight {
    font-weight: 400;
}
.semibold {
    font-weight: 600;
}
.gray {
    color: $color-darkGray;
}
.ltgray {
    color: $color-gray;
}

.bootstrap-select.no-margin-bottom {
    > button.btn.dropdown-toggle.btn-default {
        margin-bottom: 0;
    }
    .dropdown-menu.open, .dropdown-menu.open {
        margin-top: 0 !important;
    }
}

.small-p {
    display: block;
}
p.medium, a.medium {
    font-size: 14px;
}

h5.small {
  font-size: 14px;
}

h3.medium {
    font-size: 20px;
}

.indent-left-xs {
  padding-left: 10px;
  display: block;
  position: relative;
}

.indent-left-sm {
  padding-left: 25px;
  display: block;
  position: relative;
}

.indent-left-md {
  padding-left: 40px;
  display: block;
  position: relative;
}

.indent-left-lg {
  padding-left: 65px;
  display: block;
  position: relative;
}

@media (max-width: 500px) {
  .indent-left-sm, .indent-left-md, .indent-left-lg {
    .indent-left-sm {
      padding-left: 0;
      &.performance-indicators, &.status-dot  {
        &:before {
          left: -20px;
        }
      }
    }
  }
}

.fixed-left {
    position: absolute !important;
    left: 0;
}

td .fixed-left {
    left: 4px;
}