////////////////////////////
//
//    This is all of the prebuilt and custom CSS
//    for the notification bars and for future
//    notification styles
//
//    Section 1: codrop notification styles
//    Section 2: notification bar customization
//
//
//
/////////////////////////////


/* Common, default styles for the notification box */
//**** Original css from codepen has been modified for motivis **//

.ns-box {
	position: fixed;
	background: $color-white;
	padding: 11px 50px 16px 60px;
	line-height: 1.4;
	z-index: 100000;
	pointer-events: none;
	color: $color-black;
	@include font-primary-regular();
	font-size: 14px;
	text-align: left;
	border: solid 1px $color-strokeGray;
	border-top: solid 6px $color-gray;
	@include lightShadow();
	&:before {
		content: '';
		background-color: $color-gray;
		width: 36px;
		height: 36px;
		border-radius: 200px;
		display: block;
		position: absolute;
		left: 10px;
		top: 6px;
	}
}

.ns-box.ns-show {
	pointer-events: auto;
}

.ns-box a {
	color: $color-link;
	font-weight: 400;
	&:hover {
		text-decoration: underline;
	}
}

.ns-box a:hover,
.ns-box a:focus {
	opacity: 1;
}

.ns-box p {
	margin: 0;
}

.ns-box.ns-show,
.ns-box.ns-visible {
	pointer-events: auto;
}

.ns-close {
	width: 20px;
    height: 20px;
    position: absolute;
    right: 9px;
    top: 15px;
    /* overflow: hidden; */
    text-indent: 100%;
	&:before {
		@include iconFont();
		content: '\f029';
	    text-indent: 0;
		color: $color-gray;
		font-size: 12px;
	    position: absolute;
	    top: 0;
	    right: 0;
	}
	&:hover {
		cursor: pointer;
	}
	&:focus:not(:active) {
		outline: none;
	}
}


/* To bar notifications */
.ns-box.ns-bar {
    top: 8px;
    right: 8px;
    max-width: 400px;
    margin-left: 8px;
}


[class^="ns-effect-"].ns-bar.ns-hide,
[class*=" ns-effect-"].ns-bar.ns-hide {
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

/* Individual Effects */

/* Slide on top */


.ns-effect-slidetop.ns-show .icon,
.ns-effect-slidetop.ns-show p {
	-webkit-animation-name: animScaleUp;
	animation-name: animScaleUp;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.ns-effect-slidetop.ns-show p {
	-webkit-animation-name: animFade;
	animation-name: animFade;
}

@-webkit-keyframes animScaleUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-50%,0) scale3d(0,0,1);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0,-50%,0) scale3d(1,1,1);
	}
}

@keyframes animScaleUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-50%,0) scale3d(0,0,1);
		transform: translate3d(0,-50%,0) scale3d(0,0,1);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0,-50%,0) scale3d(1,1,1);
		transform: translate3d(0,-50%,0) scale3d(1,1,1);
	}
}

.ns-effect-slidetop.ns-show,
.ns-effect-slidetop.ns-hide {
	-webkit-animation-name: animSlideTop;
	animation-name: animSlideTop;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

@-webkit-keyframes animSlideTop {
	0% { -webkit-transform: translate3d(0,-100%,0); }
	100% { -webkit-transform: translate3d(0,0,0); }
}

@keyframes animSlideTop {
	0% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

/* Expanding Loader */
.ns-effect-exploader {
	background: #fff;
	color: #7a7264;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.ns-effect-exploader .icon {
	position: absolute;
	left: 0.25em;
	top: 50%;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

.ns-effect-exploader .ns-box-inner {
	position: relative;
}

.ns-effect-exploader p {
	padding: 0.25em 2em 0.25em 3em;
}


.ns-effect-exploader.ns-show {
	-webkit-animation-name: animLoad;
	animation-name: animLoad;
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
}

@-webkit-keyframes animLoad {
	0% { opacity: 1; -webkit-transform: scale3d(0,0.3,1); }
	33% { opacity: 1; -webkit-transform: scale3d(0.5,0.3,1); }
	50% { opacity: 1; -webkit-transform: scale3d(0.6,0.3,1); }
	80%, 85% { opacity: 1; -webkit-transform: scale3d(1,0.3,1); -webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1); }
	100% { opacity: 1; -webkit-transform: scale3d(1,1,1); }
}

@keyframes animLoad {
	0% { opacity: 1; -webkit-transform: scale3d(0,0.3,1); transform: scale3d(0,0.3,1); }
	33% { opacity: 1; -webkit-transform: scale3d(0.5,0.3,1); transform: scale3d(0.5,0.3,1); }
	50% { opacity: 1; -webkit-transform: scale3d(0.6,0.3,1); transform: scale3d(0.6,0.3,1); }
	80%, 85% { opacity: 1; -webkit-transform: scale3d(1,0.3,1); transform: scale3d(1,0.3,1); -webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1); animation-timing-function: cubic-bezier(0.7,0,0.3,1); }
	100% { opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}

.ns-effect-exploader.ns-hide {
	-webkit-animation-name: animFade;
	animation-name: animFade;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

.ns-effect-exploader.ns-show .ns-box-inner,
.ns-effect-exploader.ns-show .ns-close {
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-delay: 2.4s;
	animation-delay: 2.4s;
}

.ns-effect-exploader.ns-show .ns-box-inner {
	-webkit-animation-name: animFadeMove;
	animation-name: animFadeMove;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

@-webkit-keyframes animFadeMove {
	0% { opacity: 0; -webkit-transform: translate3d(0,10px,0); }
	100% { opacity: 1; -webkit-transform: translate3d(0,0,0); }
}

@keyframes animFadeMove {
	0% { opacity: 0; -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
	100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@-webkit-keyframes animFade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes animFade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}



//
//
//    Section 2: notification bar customization
//
//
.ns-box {
	&:after {
		@include iconFont();
		color: $color-white;
		position: absolute;
		top: 17px;
		left: 20px;
	}
	.circle-loader {
		position: absolute;
		left: 12px;
		top: 7px;
	}
	&.snack-bar-icon-none {
		padding-left: 20px;
		&:before, &:after {
			display: none;
		}
	}
	&.ns-type-loader {
		padding-left: 60px;
		.ns-close {
			display: none;
		}
	}
	&.snack-bar-color-gray {
		border-top-color: $color-gray;
		&:before {
			background-color: $color-gray;
		}
	}
	&.snack-bar-color-green {
		border-top-color: $color-green;
		&:before {
			background-color: $color-green;
		}
	}
	&.snack-bar-color-red {
		border-top-color: $color-red;
		&:before {
			background-color: $color-red;
		}
	}
	&.snack-bar-color-yellow {
		border-top-color: $color-yellow;
		&:before {
			background-color: $color-yellow;
		}
	}
	&.snack-bar-icon-check {
		&:after {
			content: '\f00d';
		}
	}
	&.snack-bar-icon-error {
		&:after {
			content: '\f029';
			left: 22px;
		}
	}
	&.snack-bar-icon-alert {
		&:after {
			content: '\f069';
			font-size: 21px;
		    top: 14px;
		    left: 27px;
		}
	}
}

