//
//	Section 10: simple-modal
//
///////////////////////////
.simple-modal-container {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5000;
    display: none;
    margin: 60px auto;
    max-width: 668px;
    padding: 0 14px;
    &.small-modal {
        max-width: 500px;
    }
    &.large-modal {
        max-width: 1000px;
    }
    &:before {
        content: '';
        position: fixed;
        display: block;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,.65);
    }
    .minimize {
        border: 0;
        background-color: transparent;
        position: absolute;
        right: 0;
        top: 0;
        i {
            font-size: 0;
            color: rgba(0,0,0,0);
            &:before {
            	font-size: 10px;
            	color: $color-gray;
            }
        }
    }
    &.inline-modal-container {
        margin: 25px 0 0 0;
        padding: 0;
        max-width: 400px;
        &.skinny {
            max-width: 260px;
        }
        article.card {
            @include  centeredShadow();
        }
        &:before {
            display: none;
        }
    }
}