//
//	Tables
//
///////////////////////////


table.standard-table {
    width: 100%;
    margin-bottom: 0;
    tr {
        &:not(:last-child) {
            border-bottom: solid 1px $color-strokeGray;
        }
        td, th {
            padding: 5px 8px;
            vertical-align: top;
        }
        th {
            background-color: $color-fadedGray;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 13px;
            white-space: nowrap;
            &:not(:last-child) {
                border-right: solid 1px $color-strokeGray;
            }
    		&.sortable {
    			i.lrm-arrow {
    				font-size: 5px;
    				vertical-align: middle;
    				margin-left: 8px;
    			}
    			&.active {
    				background-color: darken($color-fadedGray, 9);
    			}
    			&:hover {
    				cursor: pointer;
    				background-color: darken($color-fadedGray, 5);
    			}
                i.lrm-arrow {
                    visibility: hidden;
                }
                &.active {
                    i.lrm-arrow {
                        visibility: visible;
                    }
                }
                &.tablesorter-headerDesc {
                    i.lrm-arrow {
                        transform: rotate(180deg);
                    }
                }
    		}
        }
        td {
            &:not(:last-child) {
                border-right: solid 1px $color-strokeGray;
            }
            .radioOption {
                display: inline-block;
                padding: 10px 8px;
                &:before {
                    top: 3px;
                }
                &:after {
                    top: 8px;
                }
            }
            &.status-right {
                position: relative;
            }
        }
    }
}

a.action-icon {
	color: $color-darkGray;
	&:not(:last-child) {
		margin-right: 4px;
	}
}


.card td {
    article.card {
        border: none;
        margin-bottom: 0;
        min-width: 250px;
        @media (min-width: 400px) {
            section {
                &[class*=figure-] {
                    min-height: 50px;
                    figure img {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

/* Pagination */
nav.pagination {
    float: left;
    width: 100%;
    white-space: nowrap;
    button {
        display: block;
        padding: 0 10px;
        @include font-primary-semibold();
        color: #626262 !important;
        font-size: 14px;
        background: $color-white;
        border: 1px solid #dadada;
        line-height: 28px;
        border-radius: 4px;
        &:hover {
            @include removeUnderlines();
            color: $color-white !important;
            background: #626262;
        }
    }

    > button {
        text-transform: uppercase;
        font-size: 12px;
        padding: 0 10px;
        &.prev-btn {
            float: left;
            margin-right: 20px;
        }
        &.next-btn {
            float: left;
            margin-left: 20px;
        }
    }
    li.current button {
        color: $color-white !important;
        background: #626262;
        text-shadow: none !important;
    }

    ul {
        float: left;
        li {
            display: inline-block;
            line-height: 0;
            padding: 0;
            margin-left: 4px;
            &:before {
                display: none;
            }
        }
    }
    @media screen and (max-width: $break-mobileSmall) {
        ul li {
            display: none;
            &.show-mobile {
                display: inline-block;
            }
        }
        > button {
            padding: 0 10px;
            &.prev-btn {
                margin-right: 5px;
            }
            &.next-btn {
                margin-left: 5px;
            }
        }
    }
}




/****************************

Styles for data tables


****************************/

div.dataTables_length, div.dataTables_filter {
    display: none;
}

p.dataTables-pageLength a:hover {
    cursor: pointer;
}
table.dataTable.no-footer,.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none !important;
}
table.standard-table.dataTable {
    border-bottom: none;
    // border-top: solid 1px $color-strokeGray;
    thead th:not(:last-child), thead td {
        border-right: solid 1px $color-strokeGray;
    }
    th, td {
        border-color: $color-strokeGray;
    }
    td {
        border-bottom: solid 1px $color-strokeGray;
        // border-right: solid 1px $color-strokeGray;
        vertical-align: middle;
    }
    tr:last-child td {
        border-bottom: none;
    }
    .lrm-arrow {
        visibility: hidden;
        color: $color-darkGray;
        font-size: 5px;
        position: relative;
        top: -2px;
        margin-left: 3px;
    }
    .sorting_asc .lrm-arrow, .sorting_desc .lrm-arrow {
        visibility: visible;
    }
    .sorting_desc .lrm-arrow {
        transform: rotate(180deg);
    }
}
.DTFC_LeftBodyWrapper {
    height: auto !important;
}

.inline-scrollable {
    .DTFC_LeftBodyWrapper, .DTFC_LeftHeadWrapper {
        box-shadow: 5px 0px 4px -1px rgba(0,0,0,0.1);
    }
    table.DTFC_Cloned.standard-table.dataTable tr {
        background-color: #fafafb;
    }
}

.DTFC_LeftBodyWrapper, .DTFC_LeftHeadWrapper {
    border-right: solid 1px $color-strokeGray;
    // border-left: solid 1px $color-strokeGray;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none;
}
.DTFC_LeftBodyLiner {
    height: 100% !important;
    width: auto !important;
    overflow: visible !important;
 }
/* Pagination */
div.dataTables_paginate {
    float: left;
    width: 100%;
    white-space: nowrap;
    .paginate_button {
        display: inline-block;
        padding: 10px 8px;
        @include font-primary-semibold();
        color: #626262 !important;
        font-size: 12px;
        background: $color-white;
        border: 1px solid #dadada;
        line-height: 1px;
        border-radius: 4px;
        margin-right: 7px;
        &:hover {
            @include removeUnderlines();
            color: $color-white !important;
            background: #626262;
            cursor: pointer;
        }
        + .paginate_button + span.ellipsis + .paginate_button {
            margin-right: 0;
        }
    }
    span.ellipsis {
        margin-right: 7px;
    }
    > .paginate_button {
        text-transform: uppercase;
        font-size: 0px;
        padding: 4px 8px;
        line-height: 1px;
        ~ span {
            position: relative;
            top: -1.5px;
        }
        &:before {
            font-size: 12px;
            @include iconFont();
        }
        &.previous {
            margin-right: 14px;
            &:before {
                content: '\f064';
            }
        }
        &.next {
            margin-right: 0px;
            margin-left: 14px;
            &:before {
                content: '\f02a';
            }

        }
    }
    a.current {
        color: $color-white !important;
        background: #626262;
        text-shadow: none !important;
    }
    a:hover {
        text-decoration: none !important;
    }

}

section.card-table.data-table-container {
    overflow: visible;
}