@import 'components/variables';
@import 'components/variables';

@import 'components/_bootstrap-vendor-prefixes';
@import 'components/_bootstrap-component-animations';


.text-case-capitalize {
    text-transform: capitalize;
}
.has-error .form-text-feedback {
    color: #a94442;
}
.has-error .input-group-addon {
    background-color: transparent;
}

.dropdown-menu a.hrule.linkoption .text {
    color: #1b7bac;
    font-weight: bold;
}
.dropdown-menu .hrule.linkoption, 
.dropdown-menu a.hrule.linkoption {
    background-color: #fff;
    color: #1b7bac;
    font-size: 14px;
    border-top: solid #e5e5e5 1px;
}
.simple-container .minimize i {
    font-size: 0;
    color: transparent;
}

.simple-container .minimize {
    border: 0;
    background-color: transparent;
}

.simple-container .minimize i:before {
    font-size: 10px;
    color: #bababc;
}

ul.dropdown-menu > li a span.text,
button.btn.dropdown-toggle {
    text-transform: capitalize;
}

