@import 'components/variables';
@import 'components/LRM-competencies';




.js-library-column {
    width: 48%;
    position: absolute;
    top: 0;
}
.go-back-overflow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);

}
@media (max-width: 768px) {
    .js-library-column {
        width: 100%;
        left: 0 !important;
    }

}
@media (min-width: 769px) {
    .js-library-column {
        top: 0 !important;
    }
}