@import 'components/variables';


/***************************************************\
**                                                 **
**                                                 **
**   These are the print styles for this page      **
**                                                 **
**                                                 **
\***************************************************/
.printOnly {
  display: none;
}

@media print {
  @page {
    size: landscape;
  }
  .standard-page-header {
    padding-left: 16px;
  }
  .standard-page-header .secondary-item {
    display: none;
  }
  nav#sidebar {
    width: 0 !important;
    position: static !important;
    display: none !important;
  }
  main#mainContent {
    padding: 0 !important;
    transition: none;
    width: 1250px;
  }
  .printOnly {
    display: block;
  }
  a {
  	color: $color-black !important;
  }
}