@import 'components/variables';
@import 'components/jquery.dataTables.min.scss';



.overview-category {
    color: #fff;
    margin: 0px -30px 20px -30px;
    padding: 30px;
}
.overview-category h1 {
}
@media (max-width: 767px) {
    h1.overview-category {
        margin: 0px -15px 20px -15px;
        padding: 10px 15px;
    }
}