// Carousel /////////////////////////

.carousel {
	width: 100%;
	margin-bottom: $standard-bottomMargin;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	.carousel-header {
		width: 100%;
		position: relative;
		@include standardPadding();
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		text-transform: uppercase;
		h3 {
			font-weight: 600;
			font-size: 18px;
			vertical-align: middle;
		}
		small {
			color: $color-white;
			vertical-align: middle;
			padding-top: 0;
			display: inline-block;
		}
		.minimize {
			position: absolute;
			right: 0;
			top: 0;
			padding: 10px;
		}
	}
	.carousel-items {
		position: relative;
	}
	.carousel-item {
		padding: 18px 3.5% 20px 3.5%;
		display: inline-block;
		white-space: normal;
		position: relative;
		transition: all .2s ease;
		vertical-align: top;
		width: 100%;
		&:not(:first-child) {
			margin-left: -3px;
		}
	}
	.carousel-controls {
		width: 100%;
		text-align: center;
		.prev, .next {
			position: absolute;
			top: 90px;
			font-size: 20px;
			z-index: 11;
			@media (max-width: $break-tabletMedium) {
				top: auto;
				bottom: 10px;
			}
		}
		.prev {
			left: 1%;
			transform: rotate(180deg);
			@media (max-width: $break-tabletMedium) {
				left: $standard-verticalPadding/2;
			}
		}
		.next {
			right: 1%;
			@media (max-width: $break-tabletMedium) {
				right: $standard-verticalPadding/2;
			}
		}
		.carousel-buttons {
			position: absolute;
			bottom: 10px;
			width: 100%;
			z-index: 10;
		}
		.carousel-map-button {
			display: inline-block;
			bottom: 0;
			width: 8px;
			height: 8px;
			border-radius: 200px;
			border: solid 1px $color-black;
			&:not(:first-child) {
				margin-left: 8px;
			}
			&.active {
				background-color: $color-black;
			}
		}

	}
	&.important {
		border: solid 2px $color-error;
		.carousel-header {
			background-color: $color-error;
			color: $color-white;
			.lrm-formvalidation {
				font-size: 20px;
				margin-right: 5px;
			}
		}
		.carousel-item {
			* {
				font-weight: 700;
			}
			h3 {
				color: $color-error;
				margin-bottom: 5px;
			}
			p {
				line-height: 1.35em;
			}
		}
	}
}
