.event-list {
    padding-left: 54px;
    position: relative;
    li {
        margin-bottom: 10px;
        line-height: 1.6em;
    }
    .calendar-date {
        position: absolute;
        left: 0;
        border: solid 2px $color-black;
        border-radius: 4px;
        padding: 0px 7px 5px 7px;
        line-height: 16px;
        text-align: center;
        > * {
            font-weight: 600;
            color: $color-black;
        }
        .month {
            text-transform: uppercase;
            font-size: 9px;
        }
        .day {
            display: block;
            text-align: center;
            font-size: 18px;
        }
    }
}


//
//	Calendar datepicker
//
///////////////////////////



.ui-datepicker {
    background-color: $color-white;
    width: 16em;
    @include centeredShadow();
    .ui-datepicker-prev {
        top: 10px;
        &:before {
            content: '\f064';
            color: $color-darkGray;
            @include iconFont();
        }
        &.ui-state-hover {
            cursor: pointer;
            left: 2px;
        }
    }
    .ui-datepicker-next {
        top: 10px;
        &:before {
            content: '\f02a';
            color: $color-darkGray;
            @include iconFont();
        }
        &.ui-state-hover {
            cursor: pointer;
            right: 2px;
        }
    }
    .ui-state-disabled {
        opacity: .4;
    }
    .ui-state-default {
        color: $color-darkGray !important;
        text-align: center;
        transition: none;
        font-size: 14px;
    }
    a.ui-state-default:hover, .ui-state-active {
        background-color: $color-darkGray;
        color: $color-white !important;
    }
    span.ui-state-default {
        padding: 0;
        opacity: .4;
    }
    th {
        padding: .2em .1em;
        span {
            font-size: 14px;
        }
    }
    td {
        a {
            padding: 0;
        }
    }
}