.iframe-full-page {
    position: absolute;
	+ .page-utility-bar {
		@media (max-width: 699px) {
		    position: fixed;
		    bottom: 0;
		    left: 0;
		    padding: 0 0 0 60px;
		    width: 100%;
		    article.card {
		    	margin-bottom: 0;
		    	border-radius: 0;
		    }
		}
    }
}

.iframe-standard {
	width: 100%;
	height: 100%;
}