//
//	info-tooltip
//
///////////////////////////
p, div.p {
    .info-tooltip {
        display: inline-block;
        .tooltip-toggle {
            position: relative;
        }
    }
}


.info-tooltip {
	.tooltip-toggle {
		color: $color-link;
        background-color: transparent;
        border: none;
	}
}

div.info-tooltip {
    .tooltip-toggle {
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px;
    }
}

.resize-column {
	.tooltip-toggle {
        position: absolute;
		right: 0;
        top: 0;
        color: $color-link;
	}
}

.form-row {
    div.info-tooltip {
    	display: inline-block;
    	.tooltip-toggle {
            position: relative;
        }
    }
}
