//Basic competency icon classes
.competency {
	position: relative;
	&:before {
		@include iconFont();
	    content: "\f007";
	    color: $color-gray;
	    position: absolute;
	    top: 0;
	    left: 0;
	    font-size: 28px;
	}
	&.complete:before {
		/* Moved to color.scss
		color: $color-custom;
		*/
	}
	&.in-progress:before {
        content: "\f07f";
	}
	&.indent-left-sm {
		&:before {
			left: -8px;
		}
	}
}

.performance-indicators {
	position: relative;
	min-width: 1.1em;
    display: inline-block;
    min-height: 1.2em;
	&:before {
		@include iconFont();
        content: "\f03f";
	    color: $color-gray;
	    position: absolute;
	    left: 0;
	    top: 4px;
	}
	&.complete:before {
		/* Moved to color.scss
		color: $color-custom;
		*/
	}
	&.in-progress:before {
        content: "\f080";
	}
	&.empty:before {
        content: "\f043";
	}
	&.indent-left-sm {
		display: block;
	}
}

button.performance-indicators {
	border: none;
	background-color: transparent;
}

.status-dot {
	position: relative;
	&:before {
		@include iconFont();
        content: "";
        height: 8px;
        width: 8px;
        border-radius: 200px;
	    background-color: $color-gray;
	    position: absolute;
	    left: 0;
	    top: 8px;
	}
	&.complete:before {
		/* Moved to color.scss
		background-color: $color-custom;
		*/
	}
}
td .status-dot:before {
	left: 8px;
	top: 6px;
}

.card-toggle-content.active .pivotal {
	&:before {
		display: none;
	}
}


.competency-showcase-row {
	padding: 10px 0;
    padding-left: 30px;
    position: relative;
    @include clearfix();
    .ribbon {
    	position: absolute;
	    left: -12px;
	    top: 0;
	    bottom: 0;
	    height: 40px;
	    margin: auto;
	    cursor: pointer;
	    &:before {
	    	@include iconFont();
			content: "\f007";
			position: absolute;
			/* Moved to color.scss
			color: $color-custom;
			*/
			top: -8px;
			left: 4px;
			font-size: 40px;
			transition: color .2s ease;
	    }
	    &.incomplete {
	    	&:before {
		    	color: $color-gray;
	    	}
	    }
		&.in-progress:before {
	        content: "\f07f";
		}
    }
    .star {
		color: $color-white;
		float: left;
		width: 40px;
		margin-bottom: 25px;
		position: relative;
		top: 8px;
		left: -5px;
		z-index: 1;
		font-size: 11px;
		text-align: center;
		transition: color .2s ease;
		&:hover {
			text-decoration: none !important;
		}
	    &:before {
	    	@include iconFont();
			content: '\f03f';
			position: absolute;
			font-size: 29px;
			left: 5px;
			top: -11px;
			transition: color .2s ease;
			z-index: -1;
	    }
	    &.incomplete:before {
	    	color: $color-gray !important;
	    }
	    &.in-progress:before {
	        content: "\f080";
	    }
    }
}

@keyframes incrementStar {
    0%   {
            transform: scale(1,1);
            opacity: 1;
        }
    50%  {
            transform: scale(1.3,1.3);
            opacity: .9;
        }
    100% {
            transform: scale(1,1);
            opacity: 1;
        }
}

@keyframes decrementStar {
    0%   {transform: scale(1,1);}
    50%  {transform: scale(.9,.9);}
    100% {transform: scale(1,1);}
}

.increment:before {
    animation: incrementStar .25s ease;
}
.decrement:before {
    animation: decrementStar .25s ease;
}