.draggable {
	.drag {
		position: absolute;
		top: 6px;
        color: $color-gray;
        font-size: 10px;
        cursor: -webkit-grab;
        cursor: grab;
		z-index: 1;
		padding: 15px;
	}
	.card {
		padding-left: 20px;
	}
	&.ui-draggable-dragging {
		z-index: 100;
	}
    &:not(:first-of-type) {
        .card.stack-card {
            border-radius: 0;
        }
    }
    &:last-of-type {
        .card.stack-card {
            border-bottom: solid 1px $color-strokeGray;
            border-radius: 0 0 4px 4px;
        }
    }
}
.ui-sortable-placeholder {
	visibility: visible !important;
	background-color: $color-lightGray !important;
	display: block;
	width: 100%;
}
.jquery-sortable {
	margin-bottom: $standard-bottomMargin;
	.card {
		padding-left: 20px;
		.card-toggle-content {
			margin-left: -20px;
			&.no-border-bottom {
				margin-left: 0;
			}
		}
		.card {
			padding-left: 0;
			section {
				background-color: $color-white;
				&.ui-sortable-helper {
					border: solid 1px $color-strokeGray;
					border-radius: 4px;
				}
				&.figure-left {
					img {
						left: auto;
					    right: -8px;
					}
				}
				&:first-child {
					border-radius: 4px 4px 0 0;
				}
				&:last-child {
					border-radius: 0 0 4px 4px;
				}
			}
			@media (min-width: 400px) {
				section {
					padding-left: 50px;
					&.figure-left {
						padding-left: 110px;
						span.counter {
							right: -14px;
						}
					}
				}
			}
		}
	}
	.jquery-sort-handle {
		position: absolute;
		top: 10px;
		left: 0;
        color: $color-gray;
        font-size: 10px;
        cursor: -webkit-grab;
        cursor: grab;
		z-index: 1;
		padding: 15px 8px 15px 15px;
		@media (max-width: 500px) {
			left: -7px;
			+ .inline-edit {
				margin-left: 20px;
			}
		}
	}
	&.ui-draggable-dragging {
		z-index: 100;
		border-bottom: solid 1px $color-strokeGray;
	}
}
.stack-card + .jquery-sortable {
	border-top: solid 1px $color-strokeGray;
	.stack-card {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		&:first-child {
			border-top: solid .5px $color-strokeGray;
		}
	}
}