.resize-horizontal {
    @media (min-width: 801px) {
        width: 0;
        height: 100%;
        border-right: solid 4px $color-strokeGray;
        position: absolute;
        background-color: $color-white;
        z-index: 9;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        &:after {
            content: '\f05b';
            @include iconFont();
            position: absolute;
            top: 48%;
            left: -8px;
            font-size: 20px;
            background-color: $color-white;
            color: $color-charcoal;
            border-radius: 200px;
            border: solid 1px $color-white;
            height: 24px;
            width: 24px;
        }
        &:hover {
            cursor: col-resize;
        }
        &.resizing {
            border-right: dashed 2px $color-gray;
            background-color: transparent;
        }
    }
}

.resize-horizontal-container {
    width: 100%;
    @include clearfix();
    height: 100%;
    position: relative;
}

.resize-column {
    position: relative;
    .column-content-container {
        text-align: left;
    }
    @media (max-width: 800px) {
        width: 100% !important;
        margin-bottom: 20px;
        a.resize-collapse-btn {
            display: none;
        }
        .document-toggle {
            .toggle-title {
                border: solid 1px $color-strokeGray;
                background-color: $color-white;
            }
        }
    }
    @media (min-width: 801px) {
        float: left;
        a.resize-collapse-btn {
            position: absolute;
            left: 15px;
            top: 22px;
            z-index: 2;
            color: $color-charcoal !important;
            transform: rotate(180deg);
            &:hover {
                @include removeUnderlines();
                text-decoration: none;
            }
        }
        .column-content-container {
            padding-top: 52px;
            border: solid 1px $color-strokeGray;
            background-color: $color-white;
            position: relative;
            .column-title {
                position: absolute;
                top: 0;
                width: 100%;
                background-color: $color-white;
                padding: 12px 45px;
                z-index: 1;
                border-bottom: solid 1px $color-strokeGray;
                h2 {
                    white-space: nowrap;
                    margin-bottom: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 22px;
                    span.avatar-xs {
                        height: auto;
                        img {
                            margin-top: -20px;
                        }
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
            .column-inner-content {
                height: 75vh;
                overflow-y: auto;
                overflow-x: hidden;

                .group-docs-inline {
                    height: 75vh;
                }
            }
        }
        &.collapsed {
            background-color: $color-white;
            .column-title {
                position: absolute;
                left: 0;
                right: 0;
                top: 115px;
                padding: 0;
                border: 0;
                h2 {
                    text-overflow: initial;
                    overflow: visible;
                    transform: rotate(90deg);
                }
            }
            .column-inner-content {
                opacity: 0;
                overflow: hidden;
            }
            a.resize-collapse-btn {
                transform: rotate(0deg);
                left: 0;
                right: 0;
                top: 0px;
                text-align: center;
                padding: 50px 0;
            }
            table {
                display: none;
            }
        }
    }
    .column-inner-content {
        &.iframe-holder {
            overflow: hidden;
            position: relative;
            iframe {
                padding-top: 116px;
                width: 100%;
                @media (max-width: 800px) {
                    min-height: 640px;
                }
            }
            .empty-state {
                padding: 140px 11.5px 0;
            }
            &.open {
                .fixed-top-content {
                    height: 100%;
                }
            }
            .fixed-top-content {
                position: absolute;
                top: 0;
                width: 100%;
                padding-top: 65px;
                .card.evaluations {
                    height: 65px;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    white-space: nowrap;
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .document-toggle {
                width: 100%;
                position: absolute;
                top: 65px;
                overflow-y: auto;
                &.open {
                    height: 100%;
                    padding-bottom: 65px;
                    background-color: rgba($color-white, .7);
                    .toggle-title:after {
                        content: '\f018';
                    }
                }
                .toggle-title {
                    width: 100%;
                    text-transform: uppercase;
                    padding: 18px 23px;
                    border-bottom: solid 1px $color-strokeGray;
                    position: relative;
                    display: block;
                    color: $color-black !important;
                    font-weight: 600;
                    &:hover {
                        @include removeUnderlines();
                        color: $color-black !important;
                        background-color: $color-fadedGray;
                    }
                    &:after {
                        @include iconFont();
                        content: '\f009';
                        position: absolute;
                        right: 30px;
                        top: 18px;
                        font-size: 12px;
                        color: $color-gray;
                    }
                }
            }
            .column-filter {
                position: absolute;
                width: 100%;
                z-index: 1;
                .col-12 {
                    width: 50% !important;
                    float: left;
                    margin-bottom: 0;
                    height: 50px;
                    &.bootstrap-select button {
                        height: 50px;
                        margin-bottom: 0;
                    }
                }
            }
            .inline-table {
                padding-top: 50px;
                height: 75vh;
                overflow-y: auto;
            }
        }
        &.full-table-holder {
            overflow: hidden;
            position: relative;
            iframe {
                padding-top: 50px;
            }
            .document-toggle {
                position: absolute;
                width: 100%;
                overflow-y: auto;
                &.open {
                    height: 100%;
                    background-color: rgba($color-white, .7);
                    .toggle-title:after {
                        content: '\f018';
                    }
                }
                .toggle-title {
                    width: 100%;
                    text-transform: uppercase;
                    padding: 18px 35px;
                    border-bottom: solid 1px $color-strokeGray;
                    position: relative;
                    display: block;
                    color: $color-black !important;
                    font-weight: 600;
                    &:hover {
                        @include removeUnderlines();
                        color: $color-black !important;
                        background-color: $color-fadedGray;
                    }
                    &:after {
                        @include iconFont();
                        content: '\f009';
                        position: absolute;
                        right: 30px;
                        top: 18px;
                        font-size: 12px;
                        color: $color-gray;
                    }
                }
            }
            .column-filter {
                position: absolute;
                width: 100%;
                z-index: 1;
                .col-12 {
                    width: 50% !important;
                    float: left;
                    margin-bottom: 0;
                    height: 39px;
                    border-radius: 0;
                    &.bootstrap-select > button {
                        border-radius: 0;
                        height: 39px;
                        margin-bottom: 0;
                    }
                }
                .bootstrap-select.open:not(.dropup) .dropdown-menu.open {
                    margin-top: 0;
                }
            }
            .inline-table {
                padding-top: 39px;
                height: 75vh;
                overflow-y: auto;
            }
        }
        .inline-table {
            .standard-table {
                .btn-fill-light {
                    padding: 0;
                    min-width: 0;
                    &.add-course-btn, &.remove-course-modal-btn {
                        width: 30px;
                        padding: 5px 0;
                        color: $color-fadedGray;
                        display: block;
                        margin: auto;
                    }
                }
            }
        }
        .card {
            border-right: 0;
            border-left: 0;
            border-radius: 0;
            &:first-of-type {
                border-top: 0;
            }
        }
        .card-toggle-content {
            padding: 14px 23px;
            color: $color-black;
            h3 {
                margin-bottom: 0;
            }
            &.active {
                border-bottom: 0;
            }
            @media (max-width: 500px) {
                padding-left: 11.5px;
            }
        }
    }
}

a.image-button {
    width: 100px;
    display: inline-block;
    text-align: center;
    margin-bottom: 12px;
    vertical-align: top;
    img {
        margin-bottom: 4px;
        border: solid 1px $color-strokeGray;
        max-width: 80px;
        max-height: 80px;
        display: block;
        margin: 5px auto;
    }
    span.text {
        word-wrap: break-word;
        color: $color-darkGray;
        line-height: 1.25em;
    }
    &:hover {
        @include removeUnderlines();
    }
}

#myCoursesTable {
    &.empty {
        display: none;
        ~ #coursesActionValidation {
            display: none;
        }
        + #emptyCoursesAction {
            display: block;
        }
    }
    + #emptyCoursesAction {
        display: none;
    }
}

.iframe-hide {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: .5;
}

img.inline-image {
    display: inline;
    width: 30px;
    position: relative;
    vertical-align: middle;
    border-radius: 600px;
}

main textarea.resize-item {
    height: 200px;
}