//
//	Post Box
//
///////////////////////////

//
//      Section 1: Homefeed Unity post box
//      Section 2: Legacy LRM Post Box (plz delete me when I go away)*ported over on 5/12/2017 by Kyle S
//      Section 3: Nu-Post Box (Coming soon!)
//
/////////////////////////////////////

//*******************************************
//
//      Section 1: Homefeed Unity post box
//
//*******************************************


.post-box {
	position: relative;
	margin-bottom: $standard-bottomMargin;
	border-radius: 4px;
	#post-area {
		height: 90px;
		position: relative;
		top: 2px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		width: 100%;
		min-height: 90px;
		background-color: $color-white;
		border: solid 1px $color-strokeGray;
		padding: 10px 23px 10px 85px;
		box-sizing: border-box;
		font-size: 14px;
		line-height: 1.7em;
		margin-bottom: 0;
		@media (max-width: $break-mobileSmall) {
			padding-left: 66px;
		}
		&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			transition: color ease .1s;
			font-size: 18px;
			line-height: 2em;
			@media (max-width: $break-mobileMedium) {
				line-height: 1.5em;
				font-size: 16px;
			}
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			transition: color ease .1s;
			font-size: 18px;
			line-height: 2em;
			@media (max-width: $break-mobileMedium) {
				line-height: 1.5em;
				font-size: 16px;
			}
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
			transition: color ease .1s;
			font-size: 18px;
			line-height: 2em;
			@media (max-width: $break-mobileMedium) {
				line-height: 1.5em;
				font-size: 16px;
			}
		}
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			font-size: 18px;
			line-height: 2em;
			@media (max-width: $break-mobileMedium) {
				line-height: 1.5em;
				font-size: 16px;
			}
		}
		&:focus {
			&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				color: $color-white;
			}
			&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				color: $color-white;
			}
			&::-moz-placeholder { /* Mozilla Firefox 19+ */
				color: $color-white;
			}
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: $color-white;
			}
		}
	}
	.avatar {
		position: absolute;
		top: 17px;
		left: $standard-horizontalPadding;
		z-index: 10;
		img {
			max-width: 48px;
			max-height: 48px;
		}
		@media (max-width: $break-mobileSmall) {
			left: $standard-horizontalPadding/2;
		}
	}
}
.post-options {
	@include clearfix();
	width: 100%;
	border: solid 1px $color-strokeGray;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: $color-fadedGray;
    button:not([class*='btn-fill']) {
    	background: transparent;
    	border: none;
    	min-width: 90px;
    	padding: 17px 13px 17px 0;
    	font-weight: 700;
    	text-align: center;
		border-right: solid 1px $color-strokeGray;
		float: left;
    	font-size: 12.5px;
    	text-transform: uppercase;
    	color: $color-darkGray;
		i {
			font-size: 15px;
			padding-left: 13px;
			padding-right: 4px;
		}
    	&:hover {
    		background-color: darken($color-fadedGray, 5);
    	}
    	&.active, &:active {
    		color: $color-white;
    		background-color: $color-darkGray;
    		&:hover {
	    		color: $color-white;
	    		background-color: lighten($color-darkGray, 5);
    		}
    	}
    	@media (max-width: $break-mobileMedium) {
			min-width: 50px;
			i {
				padding-right: 0;
				font-size: 20px;
			}
    		span {
    			display: none;
    		}
    	}
    	@media (max-width: $break-mobileExtraSmall) {
			min-width: 38px;
    	}
    }
}
.post-btn {
	float: right;
	margin-top: 8px;
	margin-right: $standard-horizontalPadding;
	@media (max-width: 400px) {
		width: 100%;
		margin-right: 0;
		margin-top: 0;
	}
	@media (min-width: 1050px) and (max-width: 1140px) {
		width: 100%;
		margin-right: 0;
		margin-top: 0;
	}
}
.post-extra-content {
	@include clearfix();
	background-color: $color-white;
	border: solid 1px $color-strokeGray;
	border-top: 0;
	@include standardPadding();
}
.context-btn {
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	float: right;
	cursor: pointer;
	position: relative;
	padding-bottom: 1px;
	top: 5px;
	i {
		position: absolute;
		left: -18px;
		top: -1px;
	}
	&.download-btn {
		@media (max-width: $break-mobileSmall) {
			display: none;
		}
	}
}
.file-path {
    position: relative;
    padding-left: 30px;
    line-height: 1.5em;
    .file-name {
	    max-width: 60%;
	    display: inline-block;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    &:hover {
	    	text-decoration: underline;
	    }
    }
    i {
	    font-size: 20px;
	    position: absolute;
	    top: -8px;
	    left: 0;
    }
	@media (max-width: $break-mobileExtraSmall) {
	    display: block;
	    margin-bottom: 10px;
	}
}


#alertForm, #newsForm {
	display: none;
}

.newsPostOnly {
	div.row:first-of-type div.col-sm-7:nth-of-type(2) {
		display: none;
	}
	#newsForm {
		display: block;
	}
}

#shareOnGroupFeedSelect {
	display: none;
	padding-top: 20px;
}