@import 'color-setup';

/* _header.scss */
nav#sidebar {
	background-color: $color-custom;
	a {
		&.active {
			background-color: $color-customSecondary;
		}
		&:not(.active):not(.school-logo):not(.hamburger-menu):hover {
            background-color: darken($color-custom, 5);
        }
        .sidebar-icon {
        	span.notification-count {
        		color: $color-custom;
        	}
        }
	}
	li.hasChildren {
		&.expanded {
			background-color: darken($color-custom, 3);
		}
	}
	li.search {
		label {
			&:hover {
				background-color: darken($color-custom, 5);
			}
		}
		input {
			background-color: $color-customSecondary;
		}
	}
}

div.sidebar-item-tooltip {
	background-color: darken($color-custom, 5);
	&:before {
		background-color: darken($color-custom, 5);
	}
	&.active {
        background-color: $color-customSecondary;
        &:before {
            background-color: $color-customSecondary;
        }
    }
}

/* _login.scss */
.login-container {
	background: rgba($color-custom, .25);
	background: -moz-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($color-custom, .25)), color-stop(100%, rgba(darken($color-custom, 90), .8)));
	background: -webkit-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
	background: -o-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
	background: -ms-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
	background: linear-gradient(to bottom, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);

	.login-box {
		.logo {
			background-color: $color-custom;
		}
	}
}

.on-boarding-container {
	.on-boarding-tabs {
		li {
			&.active {
				a {
					color: $color-custom;
					div.svg-holder {
						background-color: $color-custom;
						border-color: $color-custom;
					}
				}
			}
		}
	}
	.on-boarding-content {
		> div {
			&#welcome-content {
				h1 {
					color: $color-custom;
				}
			}
		}
	}
}

/* _unity-content.scss */
.btn-outline-custom {
	color: $color-primaryBtn;
	border-color: $color-primaryBtn;
	&:hover {
		color: $color-primaryBtnHover;
		border-color: $color-primaryBtnHover;
	}
    &.disabled:hover {
    	color: $color-primaryBtn;
    	background-color: transparent;
    }
}

.btn-fill-custom {
	color: $color-white;
	background-color: $color-primaryBtn;
	border-color: $color-primaryBtn;
	&:hover {
		color: $color-white;
		border-color: $color-primaryBtnHover;
		background-color: $color-primaryBtnHover;
	}
	&.disabled:hover {
    	background-color: $color-primaryBtn;
    }
}

.tag-list {
	li {
		a {
			&.follow, &.following {
				background-color: $color-custom;
			}
		}
	}
}

a.dynamic-follow-btn {
	&.follow, &.following {
		background-color: $color-custom;
	}
}

nav.cover-nav {
	.cover-photo {
		&:before {
			background: -moz-linear-gradient(top,  rgba(darken($color-custom, 70), 0) 0%, rgba(darken($color-custom, 70), .55) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(darken($color-custom, 70), 0) 0%,rgba(darken($color-custom, 70), .55) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(darken($color-custom, 70), 0) 0%,rgba(darken($color-custom, 70), .55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		}
	}
}

.notification-card {
	.notification-icon {
		i {
			&.complete {
				color: $color-custom;
			}
		}
	}
	&.unread {
		border-left: solid 5px $color-custom;
	}
}

.poll-result-graph {
	> div {
		background-color: $color-custom;
	}
}

.nav-column {
	.feedMenuItem {
		&.unread {
			border-left: solid 5px $color-custom;
		}
	}
}

.container-blog-style {
	.feedMenuItem {
		&.unread {
			border-left: solid 5px $color-custom;
		}
	}
}

.infoTooltip {
	.tooltipContent {
		p.performance-indicator {
			&.complete:before {
				color: $color-custom;
			}
		}
		p.list-item {
			&.complete:before {
				background-color: $color-custom;
			}
		}
	}
}