//Imports
@import 'custom-color';

$color-custom: $user-color;
$color-customSecondary: $user-secondary;
$color-customSecondaryText: $user-secondary-text;

$color-primaryBtn: $color-custom;
$color-primaryBtnHover: lighten($color-primaryBtn, 10%);