//Imports
@import 'color-setup';

/* _cards.scss */
.card .notification {
	&.unread {
		border-left: solid 5px $color-custom;
	}
}

.poll-result-graph > div {
	background-color: $color-custom;
}

/* _chartist-and-graphs.scss */
.standard-progress-bar > span {
	background-color: $color-custom;
}

.ct-chart-donut {
	.ct-series-a .ct-slice-donut {
		stroke: $color-primaryBtn;
	}
	span.heading {
		color: $color-primaryBtn;
	}
}

/* _full-height-layout.scss */
.nav-column .feed-menu-item {
	&.unread {
		border-left: solid 5px $color-custom;
	}
}

.container-blog-style .feed-menu-item {
	&.unread {
		border-left: solid 5px $color-custom;
	}
}

/* _global.scss */
a.dynamic-follow-btn {
	&.follow, &.following {
		background-color: $color-custom;
	}
}

.cover-nav .cover-photo {
	&:before {
		background: -moz-linear-gradient(top,  rgba(darken($color-custom, 70), 0) 0%, rgba(darken($color-custom, 70), .55) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(darken($color-custom, 70), 0) 0%,rgba(darken($color-custom, 70), .55) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(darken($color-custom, 70), 0) 0%,rgba(darken($color-custom, 70), .55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
}

/* _lists.scss */
.tag-list li a {
	&.follow {
		background-color: $color-custom;
	}
}

ul.additional-details li.competencies {
	li:before {
		color: $color-custom;
	}
}

/* _login.scss */
.login-container {
	background: rgba($color-custom, .25);
	background: -moz-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($color-custom, .25)), color-stop(100%, rgba(darken($color-custom, 90), .8)));
	background: -webkit-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
	background: -o-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
	background: -ms-linear-gradient(top, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
	background: linear-gradient(to bottom, rgba($color-custom, .25) 0%, rgba(darken($color-custom, 90), .8) 100%);
	background-color: rgba($color-custom, .25);

	.login-box .logo {
		background-color: $color-custom;
	}
}

.on-boarding-container .on-boarding-tabs {
	li {
		&.active {
			a {
				color: $color-custom;
				div.svg-holder {
					background-color: $color-custom;
					border-color: $color-custom;
				}
			}
		}
	}
}

.on-boarding-container .on-boarding-content > div {
	&#welcome-content h1 {
		color: $color-custom;
	}
}

/* _LRM-competencies.scss */
.competency {
	&.complete:before, &.in-progress:before {
		color: $color-custom;
	}
}

.performance-indicators {
	&.complete:before, &.in-progress:before {
		color: $color-custom;
	}
}

.status-dot {
	&.complete:before {
		background-color: $color-custom;
	}
}

.competency-showcase-row {
	.ribbon {
		&:before {
			color: $color-custom;
		}
	}
	.star:before {
		color: $color-custom !important;
	}
}

/* _LRM-full-calendar.scss */
.fc-unthemed {
	.fc-view-container {
		table {
			a.fc-event {
				background-color: $color-custom;
				border-color: $color-custom;
				&:hover, &:active, &:focus {
					background-color: darken($color-custom, 5);
                    border-color: darken($color-custom, 5);
				}
			}
		}
		a.fc-day-grid-event.fc-dragging {
			background-color: darken($color-custom, 5);
            border-color: darken($color-custom, 5);
		}
	}
}

/* _plugins.scss */
main {
	div.student-select.bootstrap-select {
		button.dropdown-toggle {
			background-color: $color-custom;
			&:hover {
				background-color: lighten($color-custom, 10);
			}
		}
	}
}

/* _sidenav.scss */
nav#sidebar {
	background-color: $color-custom;
	a {
		&.active {
			background-color: $color-customSecondary;
		}
		&:not(.active):not(.school-logo):not(.hamburger-menu):hover {
			background-color: darken($color-custom, 5);
		}

		.sidebar-icon {
			span.notification-count {
				color: $color-custom;
			}
		}
	}
	li.has-children {
		&.expanded {
			background-color: darken($color-custom, 3);
		}
	}
	li.search {
		&:hover {
			background-color: darken($color-custom, 5);
		}
		input {
			background-color: $color-customSecondary;
		}
	}
}

div.sidebar-item-tooltip {
	background-color: darken($color-custom, 5);
	&:before {
		background-color: darken($color-custom, 5);
	}
	&.active {
        background-color: $color-customSecondary;
        &:before {
            background-color: $color-customSecondary;
        }
    }
}

/* _links-buttons.scss */
.btn-outline-custom {
	color: $color-primaryBtn;
	border-color: $color-primaryBtn;
	&:hover, &:focus {
		color: $color-primaryBtnHover;
		border-color: $color-primaryBtnHover;
	}
    &.disabled:hover {
    	color: $color-primaryBtn;
    	background-color: transparent;
    }
}

.btn-fill-custom {
	background-color: $color-primaryBtn;
	border-color: $color-primaryBtn;
	&:hover, &:focus {
		border-color: $color-primaryBtnHover;
		background-color: $color-primaryBtnHover;
	}
	&.disabled:hover {
    	background-color: $color-primaryBtn;
    }
}

/*learnosity.css */

#learnosity-div .btn-primary {
	background-color: $color-primaryBtn;
	border-color: $color-primaryBtn;
	&:hover {
		background-color: $color-primaryBtnHover;
		border-color: $color-primaryBtnHover;
	}
}