.printOnly{display:none}@media print{@page{size:landscape}.standard-page-header{padding-left:16px}.standard-page-header .secondary-item{display:none}nav#sidebar{width:0 !important;position:static !important;display:none !important}main#mainContent{padding:0 !important;-webkit-transition:none;transition:none;width:1250px}.printOnly{display:block}a{color:#3f3f3f !important}}
