.iframe-full-page{position:absolute}@media (max-width: 699px){.iframe-full-page+.page-utility-bar{position:fixed;bottom:0;left:0;padding:0 0 0 60px;width:100%}.iframe-full-page+.page-utility-bar article.card{margin-bottom:0;border-radius:0}}.iframe-standard{width:100%;height:100%}
