/* Imports */
@import 'custom-color';

$color-custom: $user-color;
$color-customSecondary: $user-secondary;
$color-customSecondaryText: $user-secondary-text;

$color-primaryBtn: $color-custom;
$color-primaryBtnHover: lighten($color-primaryBtn, 10%);

/* needed break point variable */
$break-tabletSmall: 767px;

/* Needed mixin */
@mixin linkUnderlinesImportant($backgroundColor, $color) {
    color: $color !important;
    text-decoration: none !important;
    text-shadow: .03em 0 $backgroundColor, -.03em 0 $backgroundColor, 0 .03em $backgroundColor, 0 -.03em $backgroundColor, .06em 0 $backgroundColor, -.06em 0 $backgroundColor, .09em 0 $backgroundColor, -.09em 0 $backgroundColor, .12em 0 $backgroundColor, -.12em 0 $backgroundColor, .15em 0 $backgroundColor, -.15em 0 $backgroundColor !important;
    background-image: linear-gradient($backgroundColor, $backgroundColor), linear-gradient($backgroundColor, $backgroundColor), linear-gradient($color, $color) !important;
    background-size: .05em 1px, .05em 1px, 1px 1px !important;
    background-repeat: no-repeat, no-repeat, repeat-x !important;
    background-position: 0% 90%, 100% 90%, 0% 90% !important;
}

/* Needed color */
$color-white: #ffffff;