/* Imports */
@import 'color-setup';

/* _header.scss */
nav#sidebar {
	background-color: $color-custom;
	a {
		&.active {
			background-color: $color-customSecondary;
		}
		&:not(.active):not(.school-logo):not(.hamburger-menu):hover {
            background-color: darken($color-custom, 5);
        }
        .sidebar-icon {
        	span.notification-count {
        		color: $color-custom;
        	}
        }
	}
	li.hasChildren {
		&.expanded {
			background-color: darken($color-custom, 3);
		}
	}
	li.search {
		label {
			&:hover {
				background-color: darken($color-custom, 5);
			}
		}
		input {
			background-color: $color-customSecondary;
		}
	}
}

div.sidebar-item-tooltip {
	background-color: darken($color-custom, 5);
	&:before {
		background-color: darken($color-custom, 5);
	}
	&.active {
        background-color: $color-customSecondary;
        &:before {
            background-color: $color-customSecondary;
        }
    }
}

/* _lrm-content.scss */
a {
	&.btn {
		&.btnColorPrimary {
			background: $color-primaryBtn;
			&:hover {
				background-color: $color-primaryBtnHover !important;
			}
			&.inactive, &.disabled {
				background-color: lighten(desaturate($color-primaryBtn, 30), 30);
				&:hover {
					background-color: lighten(desaturate($color-primaryBtn, 30), 30) !important;
				}
			}
		}
	}
}

a.avatarFull {
	span {
		background: $color-primaryBtn;
		&:hover {
			background: $color-primaryBtnHover !important;
		}
	}
}

.actionMenu {
	&.btnColorPrimary {
		background: $color-primaryBtn;
	}
}

.progress-indicators {
	.star:not(.empty) {
		&.complete {
			&:before {
				color: $color-custom;
			}
		}
	}
}

div.progressBar {
	background-color: $color-customSecondary;
	h3 {
		color: $color-customSecondaryText;
	}
	p {
		color: $color-customSecondaryText;
	}
	div.bar {
		background: $color-customSecondaryText;
	}
	div.complete {
		background: $color-custom;
	}
	div.inProcess {
		background: lighten($color-custom, 35);
	}
	@media screen and (min-width: $break-tabletSmall) {
		a.avatarLg {
			span {
				border: solid 3px $color-customSecondaryText;
			}
		}
	}
}

.criteriaProgressBar {
	> span {
		background-color: $color-custom;
	}
}

ul.checklist {
	&.assignmentChecklist {
		li {
			&.complete:before {
				background-color: $color-custom !important;
				border-color: $color-custom;
			}
		}
	}
	&.competencyChecklist {
		li {
			&.complete:before {
				color: $color-custom !important;
			}
		}
	}
}

.buttonMenu {
	.actionMenu {
		li {
			a {
				border-bottom: 1px solid $color-customSecondary;
			}
		}
	}
}

a.btnColorPrimary + ul.actionMenu {
	a {
		border-bottom-color: lighten($color-custom, 8);
		&:hover {
			background-color: $color-primaryBtnHover !important;
		}
	}
}

/* Charts */
.ct-chart-donut {
	.ct-series-a .ct-slice-donut {
		stroke: $color-primaryBtn;
	}
	span.heading {
		color: $color-primaryBtn;
	}
}

/* Modals */
#lrmmodal {
	div.editAvatar {
		div.photoEdit {
			p {
				a {
					color: $color-primaryBtn;
					&:hover {
						@include linkUnderlinesImportant($color-white, $color-primaryBtn);
					}
				}
			}
		}
	}
}

section.mainContent {
	div.studentSelect.bootstrap-select {
		button.dropdown-toggle {
			background-color: $color-custom;
			&:hover {
				background-color: lighten($color-custom, 10);
			}
		}
	}
}

.competenceAccordian {
	.listHeader {
		.competency-ribbon {
			&.complete i.lrm {
				color: $color-custom;
			}
		}
	}
}

li.competenceProgress {
	.competenceCheckMark {
		&::before {
			color: $color-custom;
		}
	}
}

.resourceItem {
	.resourceContainer {
		.faqAccordian {
			label {
				&[data-pivotal="true"] {
					color: $color-custom;
				}
			}
			&[data-pivotal="true"]:not(.expanded) {
				color: $color-custom;
			}
		}
	}
	&.competency-ribbon {
		&:before {
			color: $color-custom;
		}
	}
}

.courseCompetencies {
	.resourceItem {
		h4 {
			&.competency-ribbon {
				&:before {
					color: $color-custom;
				}
			}
		}
		p {
			&.competency-star {
				&:before {
					color: $color-custom;
				}
			}
		}
	}
}

h3.performance-measure {
	&:before {
		color: $color-custom;
	}
}

h4.performance-measure {
	&.complete:before {
		color: $color-custom;
	}
}

#assignmentCalendar.fc, #assignmentCalendarSmall.fc {
	.fc-view-container {
		table {
			a.fc-event {
				background-color: $color-custom;
				border-color: $color-custom;
				&:hover, &:active, &:focus {
					background-color: darken($color-custom, 5);
					border-color: darken($color-custom, 5);
				}
			}
		}
		a.fc-day-grid-event.fc-dragging {
			background-color: darken($color-custom, 5);
			border-color: darken($color-custom, 5);
		}
	}
}

#courseRegistrationCalendar.fc {
	.fc-view-container {
		table {
			a.fc-event {
				background-color: $color-custom;
				border-color: $color-custom;
				&:hover, &:active, &:focus {
					background-color: darken($color-custom, 5);
                    border-color: darken($color-custom, 5);
				}
			}
		}
	}
}

ul.additional-details {
	li.competencies {
		li:before {
			color: $color-custom;
		}
	}
}

@keyframes incrementStar {
    0%   {
            transform: scale(1,1);
            color: $color-custom;
        }
    50%  {
            transform: scale(1.3,1.3);
            color: lighten($color-custom, 10);
        }
    100% {
            transform: scale(1,1);
            color: $color-custom;
        }
}

.competencyShowcaseRow {
	.ribbon, .star {
		&:before, + .compTooltip:before {
			color: $color-custom;
		}
		&:not(:empty):not(.incomplete):hover {
			color: lighten($color-custom, 10);
			&:before {
				color: lighten($color-custom, 10);
			}
		}
	}
	.star {
		color: $color-custom;
	}
}

.accordian .listHeader.ribbon {
	&.complete {
		&:before {
			color: $color-custom;
		}
	}
}

.piIndicator {
	&.complete {
		&:before {
			color: $color-custom;
		}
	}
}

#chooseCompetency, #choosePerformanceIndicators {
	h2 {
		&:before {
			color: $color-custom;
		}
	}
}

#choosePerformanceIndicators h2:before {
	color: $color-custom;
}

/*   Performance measures modal */
#competencyColumn, #performanceIndicators {
	h3 {
		&:before {
			color: $color-custom;
		}
	}
}

.pi-modal-column {
	ul {
		li {
			h4, h5 {
				&:before {
					color: $color-custom;
				}
			}
			h5 {
				&:before {
					color: $color-custom;
				}
			}
		}
	}
}

/* _unity-content.scss */
.btn-outline-custom {
	color: $color-primaryBtn;
	border-color: $color-primaryBtn;
	&:hover {
		color: $color-primaryBtnHover;
		border-color: $color-primaryBtnHover;
	}
    &.disabled:hover {
    	color: $color-primaryBtn;
    	background-color: transparent;
    }
}

.btn-fill-custom {
	background-color: $color-primaryBtn;
	border-color: $color-primaryBtn;
	&:hover {
		border-color: $color-primaryBtnHover;
		background-color: $color-primaryBtnHover;
	}
	&.disabled:hover {
    	background-color: $color-primaryBtn;
    }
}

.tag-list {
	li {
		a {
			&.follow, &.following {
				background-color: $color-custom;
			}
		}
	}
}

a.dynamic-follow-btn {
	&.follow, &.following {
		background-color: $color-custom;
	}
}

nav.cover-nav {
	.cover-photo {
		&:before {
			background: -moz-linear-gradient(top,  rgba(darken($color-custom, 70), 0) 0%, rgba(darken($color-custom, 70), .55) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(darken($color-custom, 70), 0) 0%,rgba(darken($color-custom, 70), .55) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(darken($color-custom, 70), 0) 0%,rgba(darken($color-custom, 70), .55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		}
	}
}

.notification-card {
	.notification-icon {
		i {
			&.complete {
				color: $color-custom;
			}
		}
	}
	&.unread {
		border-left: solid 5px $color-custom;
	}
}

.poll-result-graph {
	> div {
		background-color: $color-custom;
	}
}

.nav-column {
	.feedMenuItem {
		&.unread {
			border-left: solid 5px $color-custom;
		}
	}
}

.container-blog-style {
	.feedMenuItem {
		&.unread {
			border-left: solid 5px $color-custom;
		}
	}
}

.infoTooltip .tooltipContent p.performance-indicator.complete:before {
	color: $color-custom;
}

.infoTooltip .tooltipContent p.list-item.complete:before {
	background-color: $color-custom;
}